{% load static %}
<section id="footer" class="section footer" style="padding-top: 2em; margin-top: 3em">
    <div class="container" style="width: 85%">
        <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-1" style="padding-top: 50px"><img src="{% static "images/eu_flag.png" %}"
                                                                 style="height: 2.7em"></div>
            <div class="col-sm-3" style="font-family: 'Calibri';color: white;font-size:0.8em">The I2AM PARIS platform
                has been developed within the framework of the <a href="https://paris-reinforce.eu/">PARIS REINFORCE</a>
                project, which has received funding from the European Union’s Horizon 2020 Research and Innovation
                Programme under grant agreement No. 820846.
            </div>


            <div class="col-sm-3 align-center">
                <ul class="social-network social-circle">
                    <li><a href="https://twitter.com/ParisReinforce" class="icoTwitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/14850821/" class="icoLinkedin" title="Linkedin"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/parisreinforce/" class="icoInstagram" title="Instagram"><i
                            class="fa fa-instagram"></i> </a></li>
                    <li><a href="https://www.youtube.com/channel/UC4g1FQ-QX33QH9HrTNMnkIA" class="icoYoutube"
                           title="Youtube"><i class="fa fa-youtube-play"></i> </a></li>
                </ul>
            </div>

            <div class="col-sm-2" style="font-family: 'Calibri';color: white ;font-size:0.8em">The platform is further
                supported by the H2020 projects <a href="http://www.ndc-aspects.eu/">NDC-ASPECTS</a> and <a
                        href="https://encludeproject.eu/">ENCLUDE</a> under grant agreements No. 101003866 and
                101022791, respectively.
            </div>
            <div class="col-sm-3" style="font-family: 'Calibri';color: white ;font-size:0.8em">The content of this page
                is for information purposes only. The European Commission and CINEA do not accept responsibility for any
                use made of the information contained therein.
            </div>

        </div>
    </div>
</section>