{% load static %}
<div class="col-sm-12 col-xs-12">
    <h3 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        What are the costs and gains of current policies?
    </h3>
</div>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    {#    <span id="costs_gains" style="position: relative; top:-8em"></span>#}
    <h4 class="col-md-12 col-xs-12 row">Extrapolating into the future</h4>
    <p class="col-md-12 col-xs-12 row">
        GDP projections are different across model results due to model characteristics and logic.
    </p>
    {#    <p class="col-md-12 col-xs-12">#}
    {#    <ul>#}
    {#        <li>The two global computable general equilibrium (CGE) models (GEMINI-E3 and ICES) show negative GDP impacts of#}
    {#            current policy efforts, relative to their no policy#}
    {#        </li>#}
    {#        <li>The two macroeconometric models, on the other hand, display different behaviour: NEMESIS shows negligible#}
    {#            GDP impacts, while E3ME projects positive impacts on GDP.#}
    {#        </li>#}
    {#    </ul>#}
    {#    </p>#}
    <div class="row" style="margin-top: 6em">
        <img class="col-md-2 col-xs-12 fade-img" style=""
             src={% static "images/wwheu_public_ui/economic_activirty_down.png" %}>
        <p class="col-md-10 col-xs-12">The two global computable general equilibrium (CGE) models
            (<strong>GEMINI-E3</strong> and <strong>ICES</strong>)
            show
            <strong>negative GDP impacts </strong> of current policy efforts, relative to their no policy scenario.</p>
    </div>
    <div class="row" style="margin-top: 2em">
        <p class="col-md-10 col-xs-12">The two macroeconometric models, on the other hand, display different behaviour:
            NEMESIS shows negligible
            GDP impacts, while <strong>E3ME</strong> projects <strong>positive impacts on GDP</strong>.</p>
        <img class="col-md-2 col-xs-12 fade-img" src={% static "images/wwheu_public_ui/economic_activirty.png" %}>
    </div>
    <div class="row" style="margin-top: 2em ;">
        <img class="col-md-2 col-xs-12 fade-img" src={% static "images/wwheu_public_ui/employment.png" %}>
        <p class="col-md-10 col-xs-12">
            Both <strong>NEMESIS</strong> and <strong>E3ME</strong> models reveal <strong>positive impact </strong>of a
            long-term projection of current policy efforts
            <strong> on total employment</strong>.
        </p>
    </div>
    <p class="col-md-12 col-xs- row" style="margin-top: 2em">
        Despite differences in the levels of investments overall, top-down macroeconomic models (GEMINI-E3, NEMESIS,
        E3ME) show moderate changes between 2020 and 2050. On the other hand, the technology-richer models (EU-TIMES,
        GCAM) project an acceleration of European investments in the power sector from 2020 to 2050, with both models
        showcasing a 2.5-fold increase.
    </p>


</div>