{% extends 'i2amparis_main/eu_workspace/euw_virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style=" margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-blue" style="text-align: center">
                        <a href="" class="">Deliverables</a>
                        <i class="fa fa-file mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D3.3 Proceedings on the 1st Regional EU Workshop
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        January 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The first PARIS REINFORCE regional EU workshop was held in Brussels on the 21st
                                        of November 2019. The purpose of the event was to initially inform stakeholders
                                        as to the capabilities of the models: what they can and cannot do. Building upon
                                        this, the event facilitated the co-creation of both the online, open-access,
                                        data-exchange platform, I2AM PARIS, and the research topics into which models
                                        will be set to address. This deliverable serves as documentation of the
                                        proceedings and reports particularly on attendance, agendas, and minutes.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D3.3.pdf" target="_blank">D3.3 Proceedings on the 1st
                                            Regional EU Workshop</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D5.1 Documentation of national-regional models for Europe
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        September 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This document presents the five modelling tools that will be used in WP5 of the
                                        PARIS REINFORCE research project. Its aim is to provide a good overview of each
                                        of the documented models for a large variety of stakeholders of climate
                                        policymaking within the European Union (EU). At the same time, it has sufficient
                                        technical detail so that experts can have an accurate overview of the provided
                                        documentation.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D5.1.pdf" target="_blank">D5.1 Documentation of
                                            national-regional models for Europe</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D5.2 Interlinkages of national/regional models for Europe with I2AM PARIS
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        WP5 focuses on the European low-carbon transformation projected to take place in
                                        the following decades. Five models are used with national or regional coverage
                                        within the EU-28 as well as some other European countries. The purpose of the
                                        first round of modelling is to provide a global context of where we are heading
                                        with current policies around the world, where we are supposed to be heading to
                                        comply with the Paris goals for temperature change, and what this means for the
                                        climate efforts required per country or region, including the EU.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D5.2.pdf" target="_blank">D5.2 Interlinkages of
                                            national/regional models for Europe with I2AM PARIS</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.1 Documentation of Global IAMs
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        September 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This document presents the eight modelling tools to be used in WP7 of the PARIS
                                        REINFORCE research project. Its aim is to provide a good overview of each of the
                                        documented models for a large variety of stakeholders of climate policymaking at
                                        the global level.


                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.1.pdf" target="_blank">D7.1 Documentation of
                                            Global IAMs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_5">
                        <div class="card">
                            <div class="card-header" id="heading_5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="true"
                                            aria-controls="collapse_5" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.2 Interlinkages of global IAMs with the I2AM PARIS platform
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_5" class="collapse "
                                 aria-labelledby="heading_5"
                                 data-parent="#accordion_5">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        WP7 focuses on global stocktaking of climate efforts, and six global models will
                                        be used for a series of extensive model inter-comparisons. The purpose of the
                                        first round of global modelling is to provide a global context of where we are
                                        heading with current policies and where we are supposed to be heading to comply
                                        with the Paris goals for temperature change. Therefore, the global models will
                                        be run in a coordinated way, providing the best scientific basis for a model
                                        inter-comparison exercise.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.2.pdf" target="_blank">D7.2 Interlinkages of
                                            global IAMs with the I2AM PARIS platform</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-blue").hide();
    </script>
{% endblock %}

