{% extends 'i2amparis_main/eu_workspace/euw_virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style=" margin-top: 2em;">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-orange" style="text-align: center">
                        <a href="" class="">Publications</a>
                        <i class="fa fa-book mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Where is the EU headed given its current climate policy? A
                                        stakeholder-driven model inter-comparison. Science of the Total Environment,
                                        793, 148549.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Where is the EU headed given its current climate policy? A
                                        stakeholder-driven model inter-comparison
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Recent calls to do climate policy research with, rather than for, stakeholders
                                        have been answered in non-modelling science. Notwithstanding progress in
                                        modelling literature, however, very little of the scenario space traces back to
                                        what stakeholders are ultimately concerned about. With a suite of eleven
                                        integrated assessment, energy system and sectoral models, we carry out a model
                                        inter-comparison for the EU, the scenario logic and research questions of which
                                        have been formulated based on stakeholders' concerns. The output of this process
                                        is a scenario framework exploring where the region is headed rather than how to
                                        achieve its goals, extrapolating its current policy efforts into the future. We
                                        find that Europe is currently on track to overperforming its pre-2020 40% target
                                        yet far from its newest ambition of 55% emissions cuts by 2030, as well as
                                        looking at a 1.0–2.35 GtCO2 emissions range in 2050. Aside from the importance
                                        of transport electrification, deployment levels of carbon capture and storage
                                        are found intertwined with deeper emissions cuts and with hydrogen diffusion,
                                        with most hydrogen produced post-2040 being blue. Finally, the multi-model
                                        exercise has highlighted benefits from deeper decarbonisation in terms of energy
                                        security and jobs, and moderate to high renewables-dominated investment needs.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Elia, A., Boitier, B., Koasidis, K., Doukas, H., Cassetti, G.,
                                        Anger-Kraavi, A., Bui, H., Campagnolo, L., De Miglio, R., Delpiazzo, E.,
                                        Fougeyrollas, A., Gambhir, A., Gargiulo, M., Giarola, S., Grant, N., Hawkes, A.,
                                        Herbst, A., Köberle, A.C., Kolpakov, A., Le Mouël, P., McWilliams, B., Mittal,
                                        S., Moreno, J., Neuner, F., Perdana, S., Peter, G.P., Plötz, P., Rogelj, J.,
                                        Sognnæs, I., Van de Ven, D.J., Vielle, M., Zachmann, G., Zagamé, P., Chiodi,
                                        A.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Science of the Total Environment
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://doi.org/10.1016/j.scitotenv.2021.148549" target="_blank" >https://doi.org/10.1016/j.scitotenv.2021.148549</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Europe</span>
                                        <span class="text-tag">Energy system models</span>
                                        <span class="text-tag">Model inter-comparison</span>
                                        <span class="text-tag">Stakeholder engagement</span>
                                        <span class="text-tag">Climate policy</span>
                                        <span class="text-tag">Integrated assessment models</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Challenges in the harmonisation of global integrated assessment models: a
                                        comprehensive methodology to reduce model response heterogeneity. Science of the
                                        Total Environment, 783, 146861.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Challenges in the harmonisation of global integrated assessment models: a
                                        comprehensive methodology to reduce model response heterogeneity
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        August 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Harmonisation sets the ground to a solid inter-comparison of integrated
                                        assessment models. A clear and transparent harmonisation process promotes a
                                        consistent interpretation of the modelling outcomes divergences and, reducing
                                        the model variance, is instrumental to the use of integrated assessment models
                                        to support policy decision-making. Despite its crucial role for climate economic
                                        policies, the definition of a comprehensive harmonisation methodology for
                                        integrated assessment modelling remains an open challenge for the scientific
                                        community.

                                        This paper proposes a framework for a harmonisation methodology with the
                                        definition of indispensable steps and recommendations to overcome stumbling
                                        blocks in order to reduce the variance of the outcomes which depends on
                                        controllable modelling assumptions. The harmonisation approach of the PARIS
                                        REINFORCE project is presented here to layout such a framework. A decomposition
                                        analysis of the harmonisation process is shown through 6 integrated assessment
                                        models (GCAM, ICES-XPS, MUSE, E3ME, GEMINI-E3, and TIAM). Results prove the
                                        potentials of the proposed framework to reduce the model variance and present a
                                        powerful diagnostic tool to feedback on the quality of the harmonisation itself.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Giarola, S., Mittal, S., Vielle, M., Perdana, S., Campagnolo, L., Delpiazzo, E.,
                                        Bui, H., Anger-Kraavi, A., Kolpakov, A., Sognnaes, I., Peters, G.P., Hawkes, A.,
                                        Koberle, A., Grant, N., Gambhir, A., Nikas, A., Doukas, H., Moreno, J., & Van de
                                        Ven, D.J.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Science of the Total Environment
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.sciencedirect.com/science/article/pii/S0048969721019318" target="_blank" >https://www.sciencedirect.com/science/article/pii/S0048969721019318</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Integrated assessment modelling</span>
                                        <span class="text-tag">Model inter-comparison</span>
                                        <span class="text-tag">Harmonisation</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-orange").hide();
    </script>
{% endblock %}