<div class="col-md-3 col-sm-3 lib-menu-nav">
    <a class="tb-orange" href="../virtual_library/publications">Publications</a>
    <a class="tb-green" href="../virtual_library/conferences">Conferences</a>
    <a class="tb-yellow" href="../virtual_library/policybriefs">Commentaries & Policy Briefs</a>
    <a class="tb-purple" href="../virtual_library/databases">Databases</a>
    <a class="tb-red" href="../virtual_library/zenodo">Zenodo Library</a>
    <a class="tb-blue" href="../virtual_library/deliverables">Deliverables</a>
</div>