{% extends 'i2amparis_main/eu_workspace/euw_virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-red" style="text-align: center">
                        <a href="" class="">Zenodo Library</a>
                        <i class="fa fa-cloud-download mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">
                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Nikas_et_al_2021_STOTEN_DATASET
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Nikas_et_al_2021_STOTEN_DATASET
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        June 21, 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This dataset contains the underlying data for the following publication: Nikas,
                                        A., Elia, A., Boitier, B., Koasidis, K., Doukas, H., Cassetti, G., ... & Chiodi,
                                        A. (2021). Where is the EU headed given its current climate policy? A
                                        stakeholder-driven model inter-comparison. Science of The Total Environment,
                                        148549. <a target="_blank" href="https://doi.org/10.1016/j.scitotenv.2021.148549">
                                        https://doi.org/10.1016/j.scitotenv.2021.148549</a>
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Elia, A., Boitier, B., Koasidis, K., Doukas, H., Cassetti, G.,
                                        Anger-Kraavi, A., Bui, H., Campagnolo, L., De Miglio, R., Delpiazzo, E.,
                                        Fougeyrollas, A., Gambhir, A., Gargiulo, M., Giarola, S., Grant, N., Hawkes, A.,
                                        Herbst, A., Köberle, A.C., Kolpakov, A., Le Mouël, P., McWilliams, B., Mittal,
                                        S., Moreno, J., Neuner, F., Perdana, S., Peter, G.P., Plötz, P., Rogelj, J.,
                                        Sognnæs, I., Van de Ven, D.J., Vielle, M., Zachmann, G., Zagamé, P., Chiodi, A.
                                    </p>
                                    <p>
                                        <strong>License:</strong>
                                        Creative Commons Attribution 4.0 International (CC BY 4.0)
                                    </p>
                                    <p>
                                        <strong>Link:</strong>
                                        <a href="https://doi.org/10.5281/zenodo.5619307" target="_blank">https://doi.org/10.5281/zenodo.5619307</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-red").hide();
    </script>
{% endblock %}