<div class="my_table table-responsive">
    <table class="table ">
        <thead>
        <tr>
            <th class="transparent_category nolr-border" style="width:5%"></th>
            <th style="width:7.5%">Variable</th>
            <th style="width:7.5%">Definition</th>
            <th style="width:7.5%">Time span</th>
            <th style="width:7.5%">Source</th>
            <th style="width:7.5%">Units</th>
            <th style="width:7.5%">Comments</th>
            <th style="width:7.5%">Used in models </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="light-grey" style="vertical-align: middle;" rowspan="3">Socio-economics</td>
            <td class="">Population</td>
            <td class="">Total country population</td>
            <td class="">2010-2100</td>
            <td class="">EUROPOP, OECD and UN (short- & mid-term) SSP2 (long-term; KC & Lutz 2017)</td>
            <td class="">Million people, Growth rate</td>
            <td class="" rowspan="3">Switch from short- & mid-term to long-term projections depending by
                country, ensuring smooth transitions between projected growth levels, and consistency between
                (working) population and GDP growth rates.
            </td>
            <td class="">ALADIN, FORECAST, EU-TIMES, NEMESIS</td>
        </tr>
        <tr>
            <td>Working Population</td>
            <td>Total population between 15 and 64 years old</td>
            <td>2010-2100</td>
            <td>Ageing Report (EC, 2017), OECD and UN (short- & mid-term) SSP2 (long-term; KC &Lutz 2017)</td>
            <td>Million people,Growth rate</td>
            <td>NEMESIS</td>
        </tr>
        <tr>
            <td class="">GDP</td>
            <td class="">Gross domestic product based on purchasing-power-parity valuation</td>
            <td class="">2010-2100</td>
            <td class="">Ageing Report (EC, 2017), OECD (Economic Outlook No. 103 and 106) (short- &
                mid-term), IMF (short-term), SSP2 (long-term Dellink et al, 2017)
            </td>
            <td class="">PPP (constant billion 2010 International $),PPP (constant billion 2010 &euro;),&nbsp;<p>
                Growth rate</p></td>
            <td class="">ALADIN, FORECAST, EU-TIMES, NEMESIS</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;" rowspan="2">Power generation costs</td>
            <td>Key technological attributes of renewable and non-renewable technologies</td>
            <td>Costs of investment, fixed and variable operation &amp; maintenance (O&amp;M), capacity factors,
                conversion efficiencies and technical lifetimes
            </td>
            <td>2003 - 2048</td>
            <td>Extracted from TIAM-Grantham. Future cost evolution based on Napp et al, (2019)</td>
            <td>Costs in US$2010/kW, Lifetime in years</td>
            <td>Technologies included are wind, solar, nuclear, geothermal, hydro, coal, gas, biomass</td>
            <td>EU-TIMES, NEMESIS</p>
            </td>
        </tr>
        <tr>
            <td class="">Key technological attributes of renewable and non-renewable technologies</td>
            <td class="">Costs of investment, fixed and variable O&amp;M, conversion efficiencies,
                self-consumption share, capacity factors, technical lifetimes and O&amp;M costs growth
            </td>
            <td class="">2020 - 2050</td>
            <td class="">NECPs (Mantzos et al, 2017)</td>
            <td class="">Costs in EUR&#39;13/MWh,Lifetime in years</td>
            <td class="">No global coverage. Costs are estimated for Europe. No regional disaggregation
            </td>
            <td class="">EU-TIMES, NEMESIS</p>
            </td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;" rowspan="2">Transport costs</td>
            <td>Key technological attributes of cars, buses and trucks</td>
            <td>Costs of investment, fixed O&amp;M, efficiencies and technical lifetimes</td>
            <td>2006 - 2050</td>
            <td>Extracted from TIAM-Grantham. Future cost evolution based on NREL Electrification Futures Study
                (2017) and Napp et al, (2019)
            </td>
            <td>Costs in M 2010 US$/Billion vehicle km, Efficiency in B vehicle km/PJ, Lifetime in years</td>
            <td>Attributes available by fuel technology (diesel, fuel, electric, hydrogen, hybrid, natural gas)
                and by efficiency categories
            </td>
            <td>ALADIN, EU-TIMES</td>
        </tr>
        <tr>
            <td class="">Key technological attributes of cars, trucks, trains and planes</td>
            <td class="">Costs of investment and efficiency ratio</td>
            <td class="">-</td>
            <td class="">NECPs (Mantzos et al, 2017)</td>
            <td class="">Costs in EUR&#39;13/MWh,Efficiency in liters/100 vehicle km</td>
            <td class="">No global coverage. Costs are estimated for Europe. No regional disaggregation
                Fuel technology disaggregation
            </td>
            <td class="">ALADIN, EU-TIMES</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;" rowspan="2">Residential and commercial
                costs
            </td>
            <td>Key technological attributes of main household appliances, lighting, heating and cooling</td>
            <td>Costs of investment, fixed O&amp;M, capacity factors and efficiencies.</td>
            <td>2006 - 2048</td>
            <td>Extracted from TIAM-Grantham.</td>
            <td>Costs in Million US$2010/PJ</td>
            <td>Attributes available by fuel technology (bio, coal, diesel, electric, kerosene, LPG, Natural
                gas, solar) and by efficiency categories
            </td>
            <td>FORECAST, EU-TIMES</td>
        </tr>
        <tr>
            <td class="">Key technological attributes of main household appliances, heating and cooling
            </td>
            <td class="">Costs of investment and efficiency ratios.</td>
            <td class="">-</td>
            <td class="">NECPs (Mantzos et al, 2017)</td>
            <td class="">Costs in EUR&#39;13/MWh</td>
            <td class="">No global coverage. Costs are estimated for Europe. No regional disaggregation
            </td>
            <td class="">FORECAST, EU-TIMES</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;" rowspan="2">Industry costs</td>
            <td>Key technological attributes of steel and cement industries</td>
            <td>Costs of investment, fixed and variable O&amp;M, capacity factor, technical lifetime and input
                material requirements
            </td>
            <td>2006-2030</td>
            <td>Extracted from TIAM-Grantham.</td>
            <td>Costs in $2010USD/Mt, Lifetime in years, Input requirements in PJ/Mt and t/t</td>
            <td>Attributes available by process type</td>
            <td>FORECAST, EU-TIMES</td>
        </tr>
        <tr>
            <td class="">Key technological attributes by type of process</td>
            <td class="">Costs of investment and efficiency ratios.</td>
            <td class="">-</td>
            <td class="">NECPs (Mantzos et al, 2017)</td>
            <td class="">Costs in EUR&#39;13/MWh</td>
            <td class="">No global coverage. Costs are estimated for Europe. No regional disaggregation
            </td>
            <td class="">FORECAST, EU-TIMES</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;">Fossil fuel prices</td>
            <td>Fossil fuel price paths</td>
            <td>Price projections in the main regions for oil, gas and coal</td>
            <td>2010-2050</td>
            <td>2019 World Energy Outlook by International Energy Agency</td>
            <td><p>Oil: $2018USD per barrel/per GJ</p>
                <p>Gas: $2018USD per Mbtu/per GJ</p>
                <p>Coal: $2018USD per tonne GJ</p>
            </td>
            <td>Figures available at global level and for 4 regions: EU, USA, China and Japan</td>
            <td>ALADIN, FORECAST, EU-TIMES, NEMESIS</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;">Exchange rates</td>
            <td class="">Exchange rates</td>
            <td class="">Exchange rates between US$ and national currency</td>
            <td class="" rowspan="2">2000-2100</td>
            <td class="" rowspan="2">Economic Outlook No. 103 (July 2018) by OECD</td>
            <td class="">US$/National currency</td>
            <td class="" rowspan="2">Long-term baseline projections + constant after 2060 except
                Bulgaria, Cyprus, Croatia, Malta and Romania from Eurostat
            </td>
            <td class="">NEMESIS</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;">Interest rates</td>
            <td>Interest rates</td>
            <td>Short- and long-term interest rates</td>
            <td>%</td>
            <td>NEMESIS,EU-TIMES</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;">Household charac-teristics</td>
            <td class="">Household characteristics</td>
            <td class="">Building-related projections in the Residential and Commercial sector</td>
            <td class="">2010-2060</td>
            <td class="">EU-TIMES</td>
            <td class="">Residential: thousands of units by house type ((semi-)detached, flat)
                Commercial: Million square meters by sector
            </td>
            <td class="">European country coverage only. For periods between the milestone years, values
                are linearly interpolated
            </td>
            <td class="">EU-TIMES</td>
        </tr>
        <tr>
            <td class="light-grey" style="vertical-align: middle;">Sectoral growth</td>
            <td>Production and value added</td>
            <td>Production and gross value added by sector</td>
            <td>2005-2100</td>
            <td>Eurostat and GDP projections of Paris Reinforce</td>
            <td>Chain linked volume (2010), million &euro;</td>
            <td>European country coverage only. 90 sectors covered</td>
            <td>FORECAST, EU-TIMES</td>
        </tr>
        </tbody>
        <caption>Characteristics of harmonized parameters and use in Europe-specific models</caption>
    </table>
</div>