{% load static %}
<div class="col-sm-12 col-xs-12">
    <h3 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        What is the role of Carbon Capture and Storage (CCS)?
    </h3>
</div>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    {#    <span id="ccs" style="position: relative; top:-8em"></span>#}
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <p class="col-md-12 col-xs-12">
                In the policy domain and among specific technologies used in modelling scenarios, <strong>CCS</strong>
                is
                considered a possible
                option for reducing CO2 emissions, particularly from hard-to-decarbonise sectors, like heavy industries
                and
                energy transformation.
            </p>
            <p class="col-md-12 col-xs-12">
                However, there are still <strong>important barriers</strong>, that hinder the large-scale development of
                these
                technologies. As
                seen in the following graph, global, drastic emissions reduction currently depend significantly on these
                technologies mainly post-2040, although to different extents for each model.
            </p>
        </div>
        <img class="col-md-2 col-xs-12 fade-img" src={% static "images/wwheu_public_ui/Industry.png" %}>
        <div class="col-md-12 col-xs-12">
            <p class="col-md-12 col-xs-12">
                On average, contribution of Bioenergy with carbon capture and storage (BECCS) in these models represents
                approximately 50% of captured CO2 in 2030 and 56% in 2050.
            </p>
        </div>
    </div>

    <div class="col-md-12 col-xs-12">
        <div class="tooltip-demo" style="margin-top:3em">
            <h2 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; cursor: help; margin-bottom: 0.2em"
                data-toggle="tooltip" data-placement="auto"
                title="<p>The chart presents the CO2 captured by CCS by sector for 2020, 2030, 2040 and 2050.
                    </p>">
                CO2 captured by CCS
            </h2>
            <h4 style="">(by sector)</h4>
        </div>

        {#        <div class="col-xs-5 col-sm-1 col-md-1 back-4" style="text-align: center"><i#}
        {#                class="fa fa-angle-left next-back-arrow"></i></div>#}
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1em; text-align: center">Please select among
            the available models.
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="form-group col-md-6 col-sm-8 col-xs-10" style="text-align: center">
            <div class="">
                <select class="desc_text take_up_space model-select" placeholder="Select a Model"
                        id="model_select" style="width: 100%;">
                    <option value="e3me">E3ME</option>
                    <option value="eu_times">EU-TIMES</option>
                    <option value="gcam">GCAM</option>
                    <option value="muse">MUSE</option>
                    <option value="nemesis">NEMESIS</option>
                    <option value="tiam">TIAM</option>
                    <option value="gemini_e3">Gemini-E3</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        {#        <div class="col-md-9 col-sm-8 col-xs-12"></div>#}
        {#        <div class="col-xs-5 col-sm-1 col-md-1 next-4" style="text-align: center"><i#}
        {#                class="fa fa-angle-right next-back-arrow"></i></div>#}

        <div class="col-sm-12 col-md-12 col-xs-12" style="height: 40em">
            <div style="height: 100%;">
                <div id="co2_ccs_by_sector" class="row"
                     style="height: 100%; line-height: 100%;">
                    <iframe id="co2_ccs_by_sector_viz_iframe" src="" title="Results"
                            style="width: 100%; height: 100%;  border:none ; display: none"></iframe>
                    <div id="co2_ccs_by_sector_loading_bar"
                         style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:30%;margin-top:-6em;">
                        <img class="row" style="height: 13em; width: 13em; margin-bottom: 2em"
                             src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                        <div class="row" style="font-size: 0.9em ; margin-left: 2em; margin-right: 2em;">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">The chart will present the CO2 captured by CCS by sector for 2020,
                                2030, 2040 and 2050.
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="heading" style="font-size: 1.5em; margin:3em">Loading...</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="col-xs-12 col-md-12">
            <ul>
                <li>Limited role of the technology in GEMINI-E3 and NEMESIS reflecting limited decarbonisation
                    resulting from current policy efforts and GEMINI-E3 due to less detailed representation of the
                    technology in power generation).
                </li>
                <li>
                    E3ME and EU-TIMES show a lower rate of CCS penetration in electricity generation.
                </li>
                <li>
                    Global, technology-rich models TIAM, GCAM and MUSE deliver high capture rates.
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="col-md-12 col-xs-12">Different and more ambitious policy efforts may
                completely
                change the role of CCS
                in the longer run.</p>
        </div>
    </div>
    <hr style="color: black">

    <div class="row" style="margin-top: 3em">
        <div class="col-xs-12 col-md-12">
            <p class="col-xs-12 col-md-12">
                CCS is a critical factor and game-changing enabler of the deep decarbonisation foreseen, but it becomes
                so only upon hitting high decarbonisation levels (40–60%).
            </p>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="tooltip-demo" style="margin-top:1em">
            <h2 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; cursor: help; margin-bottom: 0.2em"
                data-toggle="tooltip" data-placement="auto"
                title="<p>The chart presents the CO2 captured by CCS against CO2 reduction levels (since 1990, based on European Environmental Agency, 2019).
                    </p>">
                CO2 captured by CCS
            </h2>
            <h4 style="">against CO2 reduction levels</h4>
            <h5>(since 1990, based on <a
                    href="https://www.sciencedirect.com/science/article/pii/S0048969721036214#bb0185">European
                Environmental Agency, 2019</a>)</h5>
        </div>
        {#        <div class="col-xs-5 col-sm-1 col-md-1 back-5" style="text-align: center"><i#}
        {#                class="fa fa-angle-left next-back-arrow"></i></div>#}
        {#        <div class="col-xs-2 col-sm-10 col-md-10 arrow-message"><span class="hidden-sm hidden-xs">Please use the arrows to see how the CO2 Captured is affected by reducing the CO2 emissions </span>#}
        {#        </div>#}
        {#        <div class="col-xs-5 col-sm-1 col-md-1 next-5" style="text-align: center"><i#}
        {#                class="fa fa-angle-right next-back-arrow"></i></div>#}
        <div class="col-sm-12 col-md-12 col-xs-12" style="height: 40em">
            <div style="height: 100%;">
                <div id="co2_ccs_ag_co2_reduction" class="row"
                     style="height: 100%; line-height: 100%;">
                    <iframe id="co2_ccs_ag_co2_reduction_viz_iframe" src="" title="Results"
                            style="width: 100%; height: 100%;  border:none ; display: none"></iframe>
                    <div id="co2_ccs_ag_co2_reduction_loading_bar"
                         style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:30%;margin-top:-6em;">
                        <img class="row" style="height: 13em; width: 13em; margin-bottom: 2em"
                             src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                        <div class="row" style="font-size: 0.9em ; margin-left: 2em; margin-right: 2em;">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">The chart will present the CO2 captured by CCS against CO2 reduction
                                levels (since 1990, based on European Environmental Agency, 2019).
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="heading" style="font-size: 1.5em; margin:3em">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p class="col-md-12 col-xs-12" style="font-style: italic">Our results justify stakeholders’ concerns
                    over the potential failure of CCS as a game changer in the EU energy system. We see that, without
                    setting in motion actions to deliver on the EU’s increased climate ambitions, as reflected in its
                    December 2020 NDC and broader mid-century vision for climate neutrality, CCS deployment is critical
                    to achieving deep emissions cuts and eventually nearing climate targets. Our results should be
                    interpreted alongside the adopted scenario framework; different policy efforts may completely change
                    the role of CCS even in the longer run.</p>
            </div>
        </div>


    </div>
</div>