<div class="my_table table-responsive">
    <table class="table ">
        <thead>
        <tr>
            <th class="transparent_category nolr-border" style="width:5%"></th>
            <th style="width:7.5%">Variable</th>
            <th style="width:7.5%">Definition</th>
            <th style="width:7.5%">Time span</th>
            <th style="width:7.5%">Source</th>
            <th style="width:7.5%">Units</th>
            <th style="width:7.5%">Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="7" class="colored" style="font-weight: bold">Socioeconomics</td>
            <td class="light-grey" rowspan="2">Population</td>
            <td class="" rowspan="2">Total country population</td>
            <td class="" rowspan="2">2010-2100</td>
            <td class="">EUROPOP, OECD and UN (short- & mid-term)</td>
            <td class="">Million people</td>
            <td class="" rowspan="7">Switch from short- & mid-term to long-term projections by country,
                ensuring smooth transitions between projected growth levels, and consistency between (working)
                population and GDP growth rates.
            </td>
        </tr>
        <tr>
            <td class="">SSP2 (long-term; KC & Lutz 2017)</td>
            <td class="">Growth rate</td>
        </tr>
        <tr>
            <td class="light-grey" rowspan="2">Working age Population</td>
            <td rowspan="2">Total population between 15 and 64 years old</td>
            <td rowspan="2">2010-2100</td>
            <td>Ageing Report (EC, 2017), OECD and UN (short- & mid-term)</td>
            <td>Million people</td>
        </tr>
        <tr>
            <td>SSP2 (long-term; KC & Lutz 2017)</td>
            <td>Growth rate</td>
        </tr>
        <tr>
            <td class="light-grey" rowspan="3">GDP</td>
            <td class="" rowspan="3">Gross domestic product based on purchasing-power-parity valuation
            </td>
            <td class="" rowspan="3">2010-2100</td>
            <td class="" rowspan="3">Ageing Report (EC, 2017), OECD (Economic Outlook No. 103 and 106)
                (short- & mid-term), IMF (short-term), SSP2 (long-term Dellink et al, 2017)
            </td>
            <td class="">PPP (constant billion 2010 International $)</td>
        </tr>
        <tr>
            <td class="">PPP (constant billion 2010 €)</td>
        </tr>
        <tr>
            <td class="">Growth rate</td>
        </tr>

        <tr>
            <td class="colored" rowspan="13" style="font-weight: bold">Techno economics</td>
            <td class="light-grey" rowspan="2"> Key technological attributes of renewable and non-renewable
                technologies
            </td>
            <td rowspan="2">Costs of investment, fixed and variable operation & maintenance (O&M), capacity
                factors, conversion efficiencies and technical lifetimes
            </td>
            <td rowspan="2">2003-2048</td>
            <td rowspan="2"> Extracted from TIAM-Grantham. Future cost evolution based on Napp et al, (2019)
            </td>
            <td>Costs in US$2010/kW</td>
            <td rowspan="2">Technologies included are wind, solar, nuclear, geothermal, hydro, coal, gas,
                biomass
            </td>
        </tr>
        <tr>
            <td>Lifetime in years</td>
        </tr>
        <tr>
            <td class="light-grey" rowspan="2">Key technological attributes of renewable and non-renewable
                technologies
            </td>
            <td class="" rowspan="2">Costs of investment, fixed and variable O&M, conversion
                efficiencies, self-consumption share, capacity factors, technical lifetimes and O&M costs growth
            </td>
            <td class="" rowspan="2">2020-2050</td>
            <td class="" rowspan="2">NECPs (Mantzos et al, 2017)</td>
            <td class=""> Costs in EUR'13/MWh</td>
            <td class="" rowspan="2">No global coverage. Costs are estimated for Europe. No regional
                disaggregation
            </td>
        </tr>
        <tr>
            <td class="">Lifetime in years</td>
        </tr>
        <tr>
            <td class="light-grey" rowspan="3">Key technological attributes of cars, buses and trucks</td>
            <td rowspan="3">Costs of investment, fixed O&M, efficiencies and technical lifetimes</td>
            <td rowspan="3">2006-2050</td>
            <td rowspan="3">Extracted from TIAM-Grantham. Future cost evolution based on NREL Electrification
                Futures Study (2017) and Napp et al, (2019)
            </td>
            <td>Costs in M 2010 US$/Billion vehicle km</td>
            <td rowspan="3">Attributes available by fuel technology (diesel, fuel, electric, hydrogen, hybrid,
                natural gas) and by efficiency categories
            </td>
        </tr>
        <tr>
            <td>Efficiency in B vehicle km/PJ</td>
        </tr>
        <tr>
            <td>Lifetime in years</td>
        </tr>

        <tr>
            <td class="light-grey" rowspan="2">Key technological attributes of cars, trucks, trains and planes
            </td>
            <td class="" rowspan="2">Costs of investment and efficiency ratio</td>
            <td class="" rowspan="2">-</td>
            <td class="" rowspan="2">NECPs (Mantzos et al, 2017</td>
            <td class="">Costs in EUR'13/MWh</td>
            <td class="" rowspan="2">No global coverage. Costs are estimated for Europe. No regional
                disaggregation Fuel technology disaggregation
            </td>
        </tr>
        <tr>
            <td class="">Efficiency in liters/100 vehicle km</td>
        </tr>
        <tr>
            <td class="light-grey">Key technological attributes of main household appliances, lighting, heating
                and cooling
            </td>
            <td>Costs of investment, fixed O&M, capacity factors and efficiencies.</td>
            <td>2006-2048</td>
            <td>Extracted from TIAM-Grantham.</td>
            <td>Costs in Million US$2010/PJ</td>
            <td>Attributes available by fuel technology (bio, coal, diesel, electric, kerosene, LPG, Natural
                gas, solar) and by efficiency categories
            </td>
        </tr>
        <tr>
            <td class="light-grey">Key technological attributes of main household appliances, heating and
                cooling
            </td>
            <td class="">Costs of investment and efficiency ratios.</td>
            <td class="">-</td>
            <td class="">NECPs (Mantzos et al, 2017)</td>
            <td class="">Costs in EUR'13/MWh</td>
            <td class="">No global coverage. Costs are estimated for Europe. No regional disaggregation
            </td>
        </tr>
        <tr>
            <td class="light-grey" rowspan="2">Key technological attributes of steel and cement industries</td>
            <td rowspan="2">Costs of investment, fixed and variable O&M, capacity factor, technical lifetime and
                input material requirements
            </td>
            <td rowspan="2">2006-2030</td>
            <td rowspan="2">Extracted from TIAM-Grantham.</td>
            <td>Costs in $2010USD/Mt</td>
            <td rowspan="2">Attributes available by process type</td>
        </tr>
        <tr>
            <td>Lifetime in years, Input requirements in PJ/Mt and t/t</td>
        </tr>
        </tbody>
        <caption>Characteristics of harmonized parameters and use in WP 6 models</caption>
    </table>
</div>