{% load static %}
{% csrf_token %}
<div id="global_approximate_temperature" class="row tab-pane">
    <div class="container" style="width: 90%; height:100%;">
        <div class="">
            <div class="tooltip-demo col-md-3 col-xs-12">
                <div class="tooltip-demo">
                    <h2 class="col-xs-12 col-md-12" style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; cursor: help; margin-bottom: 0.3em"
                        data-toggle="tooltip" data-placement="auto"
                        title="<p>The chart on the right will present the Global Approximate Temperature (Based on TCRE & GCAM) to 2100 for the selected models and scenarios.
                    </p>">
                        Global Approximate Temperature
                    </h2><h4 class="col-xs-12 col-md-12" style="color: #828f30">(Based on TCRE & GCAM)</h4>
                </div>
                <p class="col-xs-12 col-md-12" style="display: inline-block;background:transparent; box-shadow: none;">
                    The chart on the right will present the Global Approximate Temperature (Based on TCRE & GCAM) to
                    2100
                    for the selected models and scenarios.
                </p>
                <div class="form-group sum-selects-filters col-md-12 col-xs-12">
                    <label for="global_approximate_temperature_model_name">Models</label>
                    <select class="desc_text take_up_space sum-mul-select sum-boot-select" data-dbname="model"
                            placeholder="Select Model(s)"
                            multiple="multiple"
                            id="global_approximate_temperature_model_name" style="width: 100%">
                        {#                            {% for el in models %}#}
                        {#                                <option value="{{ el.name }}">{{ el.title }}</option>#}
                        {#                            {% endfor %}#}
                        <option value="e3me" selected="selected">E3ME</option>
                        <option value="gcam" selected="selected">GCAM</option>
                        <option value="gemini_e3" selected="selected">Gemini-E3</option>
                        <option value="ices" selected="selected">ICES</option>
                        <option value="muse" selected="selected">MUSE</option>
                        <option value="tiam" selected="selected">TIAM</option>
                        <option value="42" selected="selected">42</option>

                    </select>
                </div>
                <div class="form-group sum-selects-filters col-md-12 col-xs-12">
                    <label for="global_approximate_temperature_scenario_name">Scenario</label>
                    <select class="desc_text take_up_space sum-mul-select sum-boot-select" data-dbname="scenario"
                            placeholder="Select Scenario(s)"
                            multiple="multiple"
                            id="global_approximate_temperature_scenario_name" style="width: 100%">
                        <option value="PR_CurPol_EI" selected="selected">PR_CurPol_EI</option>
                        <option value="PR_CurPol_CP" selected="selected">PR_CurPol_CP</option>
                        <option value="PR_NDC_EI" selected="selected">PR_NDC_EI</option>
                        <option value="PR_NDC_CP" selected="selected">PR_NDC_CP</option>

                        {#                            {% for el in models %}#}
                        {#                                <option value="{{ el.name }}">{{ el.title }}</option>#}
                        {#                            {% endfor %}#}
                    </select>
                </div>

                <div class="col-xs-6 col-md-2">
                    <a id="global_approximate_temperature-clear-button"
                       class="button btn btn-default col-md-1 col-xs-6 openbtn line-btn"
                       style="background-color: rgba(172,31,0,0.8);color: white;padding: 0;height: inherit; line-height: 2.5em;width: 100%">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                <div class="col-xs-6 col-md-10">
                    <a id="global_approximate_temperature-run-button"
                       class="button btn btn-default col-sm-1 col-md-1 col-xs-2 openbtn green line-btn"
                       style="background-color: rgba(151, 174, 33, 0.8);color: white;padding: 0;height: inherit; line-height: 2.5em;width: 100% ">Run
                        <i class="fa fa-spinner"></i>
                    </a>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top: 1em">
                    <button style="background-color: #e78b10; width: 100%; font-weight: bold"
                            class="button btn btn-default openbtn" type="button"
                            data-toggle="collapse" data-target="#legend_temp">
                        Show Legend
                    </button>
                </div>
                <div id="legend_temp" class="collapse col-xs-12 col-md-12">
                    <div class="" style="font-size: 0.8em; margin-top: 1em">
                        <div class="" id="legend_temp_scenarios">
                            {% include "i2amparis_main/paris_reinforce_workspace/prw_wawh_summary_scenario_legend.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3" style="height: 41.7em">
            <div style="height: 100%;">
                <div id="global_temp_historical" class="row"
                     style="height: 100%; line-height: 100%;">
                    <iframe id="global_temp_historical_viz_iframe" src="" title="Results"
                            style="width: 100%; height: 100%;  border:none ; display: none"></iframe>
                    <div id="global_temp_historical_loading_bar"
                         style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:30%;margin-top:-6em;">
                        <img class="row" style="height: 13em; width: 13em; margin-bottom: 2em"
                             src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                        <div class="row" style="font-size: 0.9em ; margin-left: 2em; margin-right: 2em;">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">The chart will present the historical data for global temperature.

                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="heading" style="font-size: 1.5em; margin:3em">Loading...</div>
                    </div>
                </div>
            </div>
        </div>


            <div class=" col-md-6 col-xs-12" style="height: 52em">
                <div style="height: 100%;">
                    <div id="global_approximate_temperature_frame_div" class="row"
                         style="height: 100%; line-height: 100%;">
                        <iframe id="global_approximate_temperature_viz_iframe" src="" title="Results"
                                style="width: 100%; height: 100%;  border:none ; display: none"></iframe>
                        <div id="global_approximate_temperature_loading_bar"
                             style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:30%;margin-top:-6em;">
                            <img class="row" style="height: 13em; width: 13em; margin-bottom: 2em"
                                 src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                            <div class="row" style="font-size: 0.9em ; margin-left: 2em; margin-right: 2em;">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8"> The chart will present the Global Approximate
                                    Temperature (Based on TCRE & GCAM) to 2100.
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="heading" style="font-size: 1.5em; margin:3em">Loading...</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>