<div id="legend_detailed" class="collapse in col-xs-12 col-md-12">
    <ul class="nav nav-tabs" role="tablist" style="margin-top: 0.5em;">
        <li class="active"><a style="background-color: rgba(130, 143, 48, 0.8);font-weight: 500 " href="#legend_detailed_regions" role="tab" data-toggle="tab">Regions</a>
        </li>
        <li><a style="background-color: rgba(130, 143, 48, 0.8); font-weight: 500" href="#legend_detailed_scenarios" role="tab" data-toggle="tab">Scenarios</a></li>
    </ul>
    <div class="tab-content" style="font-size: 0.8em; margin-top: 1em">
        <div class="tab-pane fade in active" id="legend_detailed_regions">
            <div>
                <span style="font-weight: bold">R5OECD90+EU: </span><span>OECD90 and EU (and EU candidate) countries.</span>
                <div>Albania, Austria, Belgium, Bosnia and Herzegovina, Bulgaria, Croatia, Cyprus, Czech Republic,
                    Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia,
                    Lithuania, Luxembourg, Macedonia, Malta, Montenegro, Netherlands, Norway, Poland, Portugal, Spain,
                    Sweden, Switzerland, Turkey, United Kingdom, Canada, United States of America, Australia, Fiji,
                    French Polynesia, Guam, Japan, New Caledonia, New Zealand, Romania, Samoa, Serbia, Slovakia,
                    Slovenia, Solomon Islands, Vanuatu
                </div>
            </div>
            <div>
                <span style="font-weight: bold">R5REF: </span><span>Countries from the Reforming Ecomonies of the Former Soviet Union.</span>
                <div>Armenia, Azerbaijan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Republic of Moldova, Russian
                    Federation, Tajikistan, Turkmenistan, Ukraine, Uzbekistan
                </div>
            </div>
            <div>
                <span style="font-weight: bold">R5ASIA: </span><span>Asian countries except Japan.</span>
                <div>China, China Hong Kong SAR, China Macao SAR, Mongolia, Taiwan, Afghanistan, Bangladesh, Bhutan,
                    India, Maldives, Nepal, Pakistan, Sri Lanka, Brunei Darussalam, Cambodia, Democratic People's
                    Republic of Korea, East Timor, Indonesia, Lao People's Democratic Republic, Malaysia, Myanmar, Papua
                    New Guinea, Philippines, Republic of Korea, Singapore, Thailand, Viet Nam
                </div>
            </div>
            <div>
                <span style="font-weight: bold">R5MAF: </span><span>Countries of the Middle East and Africa.</span>
                <div>Bahrain, Iran (Islamic Republic of), Iraq, Israel, Jordan, Kuwait, Lebanon, Oman, Qatar, Saudi
                    Arabia, Syrian Arab Republic, United Arab Emirates, Yemen, Algeria, Angola, Benin, Botswana, Burkina
                    Faso, Burundi, Cote d'Ivoire, Cameroon, Cape Verde, Central African Republic, Chad, Comoros, Congo,
                    Democratic Republic of the Congo, Djibouti, Egypt, Equatorial Guinea, Eritrea, Ethiopia, Gabon,
                    Gambia, Ghana, Guinea, Guinea-Bissau, Kenya, Lesotho, Liberia, Libyan Arab Jamahiriya, Madagascar,
                    Malawi, Mali, Mauritania, Mauritius, Morocco, Mozambique, Namibia, Niger, Nigeria, Reunion, Rwanda,
                    Senegal, Sierra Leone, Somalia, South Africa, Sudan, Swaziland, Togo, Tunisia, Uganda, United
                    Republic of Tanzania, Western Sahara, Zambia, Zimbabwe
                </div>
            </div>
            <div>
                <span style="font-weight: bold">R5LAM: </span><span>Latin American countries.</span>
                <div>Argentina, Bahamas, Barbados, Belize, Bolivia, Brazil, Chile, Colombia, Costa Rica, Cuba, Dominican
                    Republic, Ecuador, El Salvador, Guadeloupe, Guatemala, Guyana, Haiti, Honduras, Jamaica, Martinique,
                    Mexico, Netherlands Antilles, Nicaragua, Panama, Paraguay, Peru, Puerto Rico, Suriname, Trinidad and
                    Tobago, Uruguay, Venezuela
                </div>
            </div>
            <div>
                <span style="font-weight: bold">R5ROWO: </span><span>Rest of the World - to be used only if decent match with the 5 SSP regions can otherwise not be achieved.</span>

            </div>
        </div>
        <div class="tab-pane fade" id="legend_detailed_scenarios">
            <div>
                <span style="font-weight: bold">PR_CurPol_CP: </span><span>Current policies implemented until 2030 and extending the
                                equivalent carbon price<sup>b</sup> in each region, growing at the rate of GDP per capita from 2030
                            onwards</span>
            </div>
            <div>
                <span style="font-weight: bold">PR_CurPol_CP0: </span><span>PR_CurPol_CP scenario proxied by equivalent carbon prices<sup>b</sup></span>
            </div>
            <div>
                <span style="font-weight: bold">PR_CurPol_EI: </span><span>Current policies implemented until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
            </div>
            <div>
                <span style="font-weight: bold">PR_NDC_CP: </span><span>Unconditional Nationally Determined Contributions implemented on top of current policies<sup>a</sup> until 2030 and extending the equivalent carbon price<sup>b</sup> in each region, growing at the rate of GDP per capita from 2030 onwards</span>
            </div>
            <div>
                <span style="font-weight: bold">PR_NDC_EI: </span><span>Unconditional Nationally Determined Contributions implemented on top of current policies<sup>a</sup> until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
            </div>
            <div>
                <sup>a</sup> If current policies in a given region lead to stronger emissions reductions than NDCs,
                the NDC scenario is equal to the current policies scenario.
            </div>
            <div>
                <sup>b</sup> The carbon price that, on its own (absent other policies), achieves the
                corresponding level of emissions reductions in 2030.
            </div>

        </div>
    </div>
</div>