<div>
    <span style="font-weight: bold">PR_CurPol_CP: </span><span>Current policies implemented until 2030 and extending the
                                equivalent carbon price<sup>b</sup> in each region, growing at the rate of GDP per capita from 2030
                            onwards</span>
</div>
<div>
    <span style="font-weight: bold">PR_CurPol_CP0: </span><span>PR_CurPol_CP scenario proxied by equivalent carbon prices<sup>b</sup></span>
</div>
<div>
    <span style="font-weight: bold">PR_CurPol_EI: </span><span>Current policies implemented until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
</div>
<div>
    <span style="font-weight: bold">PR_NDC_CP: </span><span>Unconditional Nationally Determined Contributions implemented on top of current policies<sup>a</sup> until 2030 and extending the equivalent carbon price<sup>b</sup> in each region, growing at the rate of GDP per capita from 2030 onwards</span>
</div>
<div>
    <span style="font-weight: bold">PR_NDC_EI: </span><span>Unconditional Nationally Determined Contributions implemented on top of current policies<sup>a</sup> until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
</div>
<div>
    <sup>a</sup> If current policies in a given region lead to stronger emissions reductions than NDCs,
    the NDC scenario is equal to the current policies scenario.
</div>
<div>
    <sup>b</sup> The carbon price that, on its own (absent other policies), achieves the
    corresponding level of emissions reductions in 2030.
</div>
