{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="text-align: center; margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-green" style="text-align: center">
                        <a href="" class="">Conferences</a>
                        <i class="fa fa-users mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/paris_reinforce_workspace/virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em;">
                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        A multi-model analysis of long-term emissions and warming implications of current mitigation efforts. Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC), November 29 - December 3, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        A multi-model analysis of long-term emissions and warming implications of current mitigation efforts
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        December 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Presented by Dirk-Jan Van de Ven (BC3) at the Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC).
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Ida Sognnaes, Ajay Gambhir, Dirk-Jan Van de Ven, Alexandros Nikas, Annela Anger-Kraavi, Ha Bui, Lorenza Campagnolo, Elisa Delpiazzo, Haris Doukas, Sara Giarola, Neil Grant, Adam Hawkes, Alexandre C. Koberle, Andrey Kolpakov, Shivika Mittal, Jorge Moreno, Sigit P. Perdana, Joeri Rogelj, Marc Vielle, Glen P. Peters
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Challenges in the harmonisation of global integrated assessment models: A comprehensive methodology to reduce model response heterogeneity. Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC), November 29 - December 3, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Challenges in the harmonisation of global integrated assessment models: A comprehensive methodology to reduce model response heterogeneity.
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        December 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Presented by Sara Giarola (Imperial College - Grantham Institute) at the Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC)
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Sara Giarola, Shivika Mittal, Marc Vielle, Sigit P. Perdana, Lorenza Campagnolo, Elisa Delpiazzo, Ha Bui, Annela Anger-Kraavi, Andrey Kolpakov, Ida Sognnaes, Glen P. Peters, Adam Hawkes, Alexandre C. Koberle, Neil Grant, Ajay Gambhir, Alexandros Nikas, Haris Doukas, Jorge Moreno, Dirk-Jan Van de Ven
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-green").hide();
    </script>
{% endblock %}