{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style=" margin-top: 2em;">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-orange" style="text-align: center">
                        <a href="" class="">Publications</a>
                        <i class="fa fa-book mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        A multi-model analysis of long-term emissions and warming implications of
                                        current mitigation efforts. Nature Climate Change, in press.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        A multi-model analysis of long-term emissions and warming implications of
                                        current mitigation efforts
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Most of the integrated assessment modelling literature focuses on cost-effective
                                        pathways towards given temperature goals. Conversely, using seven diverse
                                        integrated assessment models, we project global energy CO2 emissions
                                        trajectories on the basis of near-term mitigation efforts and two assumptions on
                                        how these efforts continue post-2030. Despite finding a wide range of emissions
                                        by 2050, nearly all the scenarios have median warming of less than 3 °C in 2100.
                                        However, the most optimistic scenario is still insufficient to limit global
                                        warming to 2 °C. We furthermore highlight key modelling choices inherent to
                                        projecting where emissions are headed. First, emissions are more sensitive to
                                        the choice of integrated assessment model than to the assumed mitigation effort,
                                        highlighting the importance of heterogeneous model intercomparisons. Differences
                                        across models reflect diversity in baseline assumptions and impacts of near-term
                                        mitigation efforts. Second, the common practice of using economy-wide carbon
                                        prices to represent policy exaggerates carbon capture and storage use compared
                                        with explicitly modelling policies.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Sognnaes, I., Gambhir, A., Van de Ven, D.J., Nikas, A., Anger-Kraavi, A., Bui,
                                        H., Campagnolo, L., Delpiazzo, E., Doukas, H., Giarola, S., Grant, N., Hawkes,
                                        A., Koberle, A.C., Kolpakov, A., Mittal, S., Moreno, J., Perdana, S., Rogelj,
                                        J., Vielle, M., & Peters, G.P.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Nature Climate Change
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.nature.com/articles/s41558-021-01206-3" target="_blank">https://www.nature.com/articles/s41558-021-01206-3</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate-change mitigation</span>
                                        <span class="text-tag">Projection</span>
                                        <span class="text-tag">Prediction</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Challenges in the harmonisation of global integrated assessment models: a
                                        comprehensive methodology to reduce model response heterogeneity. Science of the
                                        Total Environment, 783, 146861.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Challenges in the harmonisation of global integrated assessment models: a
                                        comprehensive methodology to reduce model response heterogeneity
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        August 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Harmonisation sets the ground to a solid inter-comparison of integrated
                                        assessment models. A clear and transparent harmonisation process promotes a
                                        consistent interpretation of the modelling outcomes divergences and, reducing
                                        the model variance, is instrumental to the use of integrated assessment models
                                        to support policy decision-making. Despite its crucial role for climate economic
                                        policies, the definition of a comprehensive harmonisation methodology for
                                        integrated assessment modelling remains an open challenge for the scientific
                                        community.

                                        This paper proposes a framework for a harmonisation methodology with the
                                        definition of indispensable steps and recommendations to overcome stumbling
                                        blocks in order to reduce the variance of the outcomes which depends on
                                        controllable modelling assumptions. The harmonisation approach of the PARIS
                                        REINFORCE project is presented here to layout such a framework. A decomposition
                                        analysis of the harmonisation process is shown through 6 integrated assessment
                                        models (GCAM, ICES-XPS, MUSE, E3ME, GEMINI-E3, and TIAM). Results prove the
                                        potentials of the proposed framework to reduce the model variance and present a
                                        powerful diagnostic tool to feedback on the quality of the harmonisation itself.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Giarola, S., Mittal, S., Vielle, M., Perdana, S., Campagnolo, L., Delpiazzo, E.,
                                        Bui, H., Anger-Kraavi, A., Kolpakov, A., Sognnaes, I., Peters, G.P., Hawkes, A.,
                                        Koberle, A., Grant, N., Gambhir, A., Nikas, A., Doukas, H., Moreno, J., & Van de
                                        Ven, D.J.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Science of the Total Environment
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.sciencedirect.com/science/article/pii/S0048969721019318"
                                           target="_blank">https://www.sciencedirect.com/science/article/pii/S0048969721019318</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Integrated assessment modelling</span>
                                        <span class="text-tag">Model inter-comparison</span>
                                        <span class="text-tag">Harmonisation</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        The appropriate use of reference scenarios in mitigation analysis. Nature
                                        Climate Change, 10, 605-610.
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        The appropriate use of reference scenarios in mitigation analysis
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        June 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Comparing emissions scenarios is an essential part of mitigation analysis, as
                                        climate targets can be met in various ways with different economic, energy
                                        system and co-benefit implications. Typically, a central ‘reference scenario’
                                        acts as a point of comparison, and often this has been a no policy baseline with
                                        no explicit mitigative action taken. The use of such baselines is under
                                        increasing scrutiny, raising a wider question around the appropriate use of
                                        reference scenarios in mitigation analysis. In this Perspective, we assess three
                                        critical issues relevant to the use of reference scenarios, demonstrating how
                                        different policy contexts merit the use of different scenarios. We provide
                                        recommendations to the modelling community on best practice in the creation, use
                                        and communication of reference scenarios.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Grant, N., Hawkes, A., Napp, T., & Gambhir, A.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Nature Climate Change
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.nature.com/articles/s41558-020-0826-9"
                                           target="_blank">https://www.nature.com/articles/s41558-020-0826-9</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate-change mitigation</span>
                                        <span class="text-tag">Climate-change policy</span>
                                        <span class="text-tag">Energy economics</span>
                                        <span class="text-tag">Energy policy</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Emissions – the ‘business as usual’ story is misleading. Nature, 577, 618-620.
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Emissions – the ‘business as usual’ story is misleading
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        January 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        More than a decade ago, climate scientists and energy modellers made a choice
                                        about how to describe the effects of emissions on Earth’s future climate. That
                                        choice has had unintended consequences which today are hotly debated. With the
                                        Sixth Assessment Report (AR6) from the Intergovernmental Panel on Climate Change
                                        (IPCC) moving into its final stages in 2020, there is now a rare opportunity to
                                        reboot.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Hausfather Z., & Peters, G.P.
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Nature
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.nature.com/articles/d41586-020-00177-3"
                                           target="_blank">https://www.nature.com/articles/d41586-020-00177-3</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate sciences</span>
                                        <span class="text-tag">Climate-change</span>
                                        <span class="text-tag">Energy</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-orange").hide();
    </script>
{% endblock %}