{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style=" margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-blue" style="text-align: center">
                        <a href="" class="">Deliverables</a>
                        <i class="fa fa-file mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.1 Documentation of Global IAMs
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        September 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This document presents the eight modelling tools to be used in WP7 of the PARIS
                                        REINFORCE research project. Its aim is to provide a good overview of each of the
                                        documented models for a large variety of stakeholders of climate policymaking at
                                        the global level.


                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.1.pdf" target="_blank">D7.1 Documentation of
                                            Global IAMs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_5">
                        <div class="card">
                            <div class="card-header" id="heading_5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="true"
                                            aria-controls="collapse_5" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.2 Interlinkages of global IAMs with the I2AM PARIS platform
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_5" class="collapse "
                                 aria-labelledby="heading_5"
                                 data-parent="#accordion_5">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        WP7 focuses on global stocktaking of climate efforts, and six global models will
                                        be used for a series of extensive model inter-comparisons. The purpose of the
                                        first round of global modelling is to provide a global context of where we are
                                        heading with current policies and where we are supposed to be heading to comply
                                        with the Paris goals for temperature change. Therefore, the global models will
                                        be run in a coordinated way, providing the best scientific basis for a model
                                        inter-comparison exercise.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.2.pdf" target="_blank">D7.2 Interlinkages of
                                            global IAMs with the I2AM PARIS platform</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_6">
                        <div class="card">
                            <div class="card-header" id="heading_6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_6" aria-expanded="true"
                                            aria-controls="collapse_6" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.3 Report on stakeholder needs and research capacity needed
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_6" class="collapse "
                                 aria-labelledby="heading_6"
                                 data-parent="#accordion_6">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        July 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        We set out to understand the needs of policymakers and stakeholders, as
                                        reflected in our stakeholder engagement and knowledge co-creation processes,
                                        then review the extent to which these have been addressed in the recent
                                        modelling literature following the Paris Agreement, before examining how our
                                        modelling armoury can respond to these needs.


                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.3.pdf" target="_blank">D7.3 Report on stakeholder
                                            needs and research capacity needed</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_7">
                        <div class="card">
                            <div class="card-header" id="heading_7">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_7" aria-expanded="true"
                                            aria-controls="collapse_7" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.4 1st Report on model inter-comparisons: Informing scientific assessments and
                                        the GST
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_7" class="collapse "
                                 aria-labelledby="heading_7"
                                 data-parent="#accordion_7">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This report shows that the first global model inter-comparison, using a mix of
                                        Computable General Equilibrium (CGE), macro-econometric, bottom-up energy system
                                        and partial equilibrium models results in a broad range of emissions futures
                                        under “reference” scenarios, which account for current policy efforts and
                                        current Paris pledge targets. This range is produced despite of a high degree of
                                        modelling input and scenario design harmonisation, highlighting the importance
                                        of underlying model structure in determining the results.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="/static/pdf_files/D7.4.pdf" target="_blank">D7.4 1st Report on model inter-comparisons: Informing scientific assessments and
                                        the GST</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-blue").hide();
    </script>
{% endblock %}

