{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="text-align: center; margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-green" style="text-align: center">
                        <a href="" class="">Conferences</a>
                        <i class="fa fa-users mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em;">
                    No data vailable yet.
{#                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">#}
{#                        <div class="card" style="text-align: left">#}
{#                            <div class="card-header" id="heading_1">#}
{#                                <h2 class="mb-0">#}
{#                                    <button class="btn btn-link" type="button" data-toggle="collapse"#}
{#                                            data-target="#collapse_1" aria-expanded="true"#}
{#                                            aria-controls="collapse_1" style="padding:0px">#}
{#                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>#}
{#                                        Allocation of European green COVID-19 recovery packages to mitigation emissions#}
{#                                        and create jobs in crisis years. XVI Conference of the Spanish Association for#}
{#                                        Energy Economics, June 29-30, 2021, Online.#}
{#                                    </button>#}
{#                                </h2>#}
{#                            </div>#}
{##}
{#                            <div id="collapse_1" class="collapse "#}
{#                                 aria-labelledby="heading_1"#}
{#                                 data-parent="#accordion_1">#}
{#                                <div class="card-body">#}
{#                                    <p>#}
{#                                        <strong>Title:</strong>#}
{#                                        Allocation of European green COVID-19 recovery packages to mitigation emissions#}
{#                                        and create jobs in crisis years#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Date:</strong>#}
{#                                        June 2021#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Short description:</strong>#}
{#                                        To support member states’ economic recovery from the effects of COVID-19, the EU#}
{#                                        has mobilised financial resources as part of the long-term budget of 2021-2027#}
{#                                        (European Commission, 2020a). Among the proposed recovery efforts, the EU#}
{#                                        launched the Recovery and Resilience Facility (RRF) to provide €672.5 billion of#}
{#                                        financial support to Member States in the coming years (European Commission,#}
{#                                        2020b).#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Authors:</strong>#}
{#                                        Dirk-Jan Van de Ven, Aikaterini Forouli, Konstantinos Koasidis, Ajay Gambhir,#}
{#                                        Themistoklis Koutsellis, Haris Doukas, Alexandros Nikas#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <hr class="col-md-12 col-xs-12 col-sm-12">#}
{##}
{#                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">#}
{#                        <div class="card" style="text-align: left">#}
{#                            <div class="card-header" id="heading_2">#}
{#                                <h2 class="mb-0">#}
{#                                    <button class="btn btn-link" type="button" data-toggle="collapse"#}
{#                                            data-target="#collapse_2" aria-expanded="true"#}
{#                                            aria-controls="collapse_2" style="padding:0px">#}
{#                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>#}
{#                                        Multi-Objective Evaluation of Renewable Technology Subsidy Portfolios from#}
{#                                        COVID-19 Recovery Packages. Energy, COVID, and Climate Change, 1st IAEE Online#}
{#                                        Conference, June 7-9, 2021, Online.#}
{#                                    </button>#}
{#                                </h2>#}
{#                            </div>#}
{##}
{#                            <div id="collapse_2" class="collapse "#}
{#                                 aria-labelledby="heading_2"#}
{#                                 data-parent="#accordion_2">#}
{#                                <div class="card-body">#}
{#                                    <p>#}
{#                                        <strong>Title:</strong>#}
{#                                        Multi-Objective Evaluation of Renewable Technology Subsidy Portfolios from#}
{#                                        COVID-19 Recovery Packages#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Date:</strong>#}
{#                                        June 2021#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Short description:</strong>#}
{#                                        To support the green transition, national recovery and resilience plans should#}
{#                                        allocate at least 37% of investments towards battling climate change and be#}
{#                                        aligned with the updated target of the European Green Deal of 55 emissions#}
{#                                        reduction by 2030. This study aims to optimise the impact of the proposed fiscal#}
{#                                        program and the budget allocated towards the “green” transition in terms of jobs#}
{#                                        created in the energy sector and further reduction of GHG emissions.#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Authors:</strong>#}
{#                                        Aikaterini Forouli, Dirk-Jan Van de Ven, Konstantinos Koasidis, Alexandros#}
{#                                        Nikas, Ajay Gambhir, Themistoklis Koutsellis, Anastasios Karamaneas, Haris Doukas#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <strong>Links:</strong>#}
{#                                        <a href="https://www.sciencedirect.com/science/article/pii/S0048969721019318"#}
{#                                           target="_blank">https://www.sciencedirect.com/science/article/pii/S0048969721019318</a>#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <hr class="col-md-12 col-xs-12 col-sm-12">#}


                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-green").hide();
    </script>
{% endblock %}