{% extends 'i2amparis_main/paris_reinforce_workspace/virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="text-align: center; margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-yellow" style="text-align: center">
                        <a style="padding-top: 3em; white-space: normal" href=""
                           class="">Commentaries
                            & Policy Briefs</a>
                        <i class="fa fa-comment mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/eu_workspace/euw_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">
                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        PARIS REINFORCE: What can our models deliver?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The fundamental aim of PARIS REINFORCE is to enhance and improve climate
                                        policymaking. In order to do this, the consortium has access to a range of
                                        sophisticated climate-economic scientific models. A key novelty of the project
                                        is its devotion to ‘demand-driven’ research. That is, the questions these models
                                        will provide insights into and the assumptions they will do this based upon are
                                        to be stakeholder-determined through an extensive and exhaustive process.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Ben McWilliams, Georg Zachmann, Alevgul Sorman, Ester Galende, Ajay Gambhir,
                                        Alexandros Nikas, Haris Doukas
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Policy brief</span>
                                        <span class="text-tag">Integrated assessment models</span>
                                        <span class="text-tag">Climate policy</span>
                                        <span class="text-tag">Climate Science</span>
                                        <span class="text-tag">Co-creation</span>
                                        <span class="text-tag">Policy questions</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Fix the Planet newsletter: Can small nuclear power go big?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Small modular reactors are being pitched as an affordable and fast way to
                                        decarbonise power grids but questions about the technology abound
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Adam Vaughan
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        NewScientist
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.newscientist.com/article/2299113-fix-the-planet-newsletter-can-small-nuclear-power-go-big/"
                                           target="_blank">Fix the Planet newsletter: Can small nuclear power go
                                            big?</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>

                                        <span class="text-tag">Climate Change</span>


                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        CICERO Report: Climate Modeling Is Hard, But We Are Heading For Disaster
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        April 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Despite the promises made at COP26, the world is still on track for a dangerous
                                        amount of warming.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Steve Hanley
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        CleanTechnica
                                    </p>

                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Cicero Center For Climate Research</span>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Climate Modeling</span>
                                        <span class="text-tag">COP26</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_5">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="true"
                                            aria-controls="collapse_5" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Rosa Galvez Calls for Senate to Declare Climate Emergency
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_5" class="collapse "
                                 aria-labelledby="heading_5"
                                 data-parent="#accordion_5">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Building off a House of Commons declaration from 2019, Independent Sen. Rosa
                                        Galvez wants the upper house to declare a national climate emergency.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        John Woodside
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Canada's National Observer
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.nationalobserver.com/2021/11/24/news/rosa-galvez-calls-senate-declare-climate-emergency"
                                           target="_blank">Rosa Galvez Calls for Senate to Declare Climate Emergency</a>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_6">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_6" aria-expanded="true"
                                            aria-controls="collapse_6" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Earth is headed for well over two degrees of warming
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_6" class="collapse "
                                 aria-labelledby="heading_6"
                                 data-parent="#accordion_6">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Modellers look at how climate policies might change with time — and find a wide
                                        range of possible outcomes, none of them good.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Haris Doukas
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Nature
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://doi.org/10.1038/d41586-021-03507-1"
                                           target="_blank">Earth is headed for well over two degrees of warming</a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_7">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_7">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_7" aria-expanded="true"
                                            aria-controls="collapse_7" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        New Study Questions Estimates For COP26 Pledges
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_7" class="collapse "
                                 aria-labelledby="heading_7"
                                 data-parent="#accordion_7">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        During the UN Climate Change Conference of the Parties (COP26) in Glasgow, many
                                        analysts rushed to report on the ambition of nations, predicting a future as
                                        predicted by climate pledges announced. A new study, that the National Technical
                                        University of Athens took part in, raises serious questions, estimating the
                                        predictions made entail great uncertainty, despite the pretext for reassurance.

                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        Ecopress
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://ecopress.gr/klimatiki-krisi-emp/"
                                           target="_blank">NTUA: New Study Questions Estimates For COP26 Pledges</a>
                                    </p>


                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Crisis</span>
                                        <span class="text-tag">COP26</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_8">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_8">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_8" aria-expanded="true"
                                            aria-controls="collapse_8" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Climate Crisis: New Study Questions the Effectiveness of Policy Pledges
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_8" class="collapse "
                                 aria-labelledby="heading_8"
                                 data-parent="#accordion_8">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        During the UN Climate Change Conference of the Parties (COP26) in Glasgow, many
                                        analysts rushed to report on the ambition of nations, predicting a future as
                                        predicted by climate pledges announced. A new study, that the National Technical
                                        University of Athens took part in, raises serious questions, estimating the
                                        predictions made entail great uncertainty, despite the pretext for reassurance.

                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Newsroom
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Energymag
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://energymag.gr/news/perivallon/klimatiki-krisi-nea-meleti-amfisvitei-tin-apotelesmatikotita-ton-politikon-desmefseon/"
                                           target="_blank">Climate Crisis: New Study Questions the Effectiveness of
                                            Policy Pledges</a>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_9">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_9">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_9" aria-expanded="true"
                                            aria-controls="collapse_9" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Climate Warming Forecasts May Be Too Rosy: Study
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_9" class="collapse "
                                 aria-labelledby="heading_9"
                                 data-parent="#accordion_9">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Paris (AFP) – UN projections of how much current climate policies and national
                                        pledges to cut carbon pollution will slow global warming are more uncertain than
                                        widely assumed, researchers reported Monday.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        AFP
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        France 24
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.france24.com/en/live-news/20211122-climate-warming-forecasts-may-be-too-rosy-study"
                                           target="_blank">Climate Warming Forecasts May Be Too Rosy: Study</a>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_10">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_10">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_10" aria-expanded="true"
                                            aria-controls="collapse_10" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Climate Pledges Still Not Enough to Keep Warming Below 2-Degree Limit
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_10" class="collapse "
                                 aria-labelledby="heading_10"
                                 data-parent="#accordion_10">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        In the aftermath of the United Nations’ annual climate conference earlier this
                                        month, scientists have a sobering message: The world still is not on track to
                                        meet its international climate goals.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Chelsea Harvey
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        Scientific Αmerican
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.scientificamerican.com/article/climate-pledges-still-not-enough-to-keep-warming-below-2-degree-limit/"
                                           target="_blank">Climate Pledges Still Not Enough to Keep Warming Below
                                            2-Degree Limit</a>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_11">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_11">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_11" aria-expanded="true"
                                            aria-controls="collapse_11" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Making Sense of the Narratives After the Glasgow Climate Talks
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_11" class="collapse "
                                 aria-labelledby="heading_11"
                                 data-parent="#accordion_11">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The COP26 climate talks in Glasgow ended with some progress, though not enough
                                        to ensure the world avoids catastrophic climate impacts. If countries meet their
                                        pledges, greenhouse emissions in 2030 will be slightly lower than previously
                                        projected. But a new report warns that the decline doesn’t mean we’re safe.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Akshat Rathi
                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        Bloomberg
                                    </p>
                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.bloomberg.com/news/articles/2021-11-23/making-sense-of-the-glasgow-climate-pact-at-cop26"
                                           target="_blank">Making Sense of the Narratives After the Glasgow Climate
                                            Talks</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_12">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_12">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_12" aria-expanded="true"
                                            aria-controls="collapse_12" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        "Large Uncertainties" over Warming Outcomes from Current Climate Policies
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_12" class="collapse "
                                 aria-labelledby="heading_12"
                                 data-parent="#accordion_12">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        A new analysis by researchers from the EU Horizon 2020 project 'Paris
                                        Reinforce', including Imperial College London's Dr Ajay Gambhir, has found that
                                        the impact of climate policies is more uncertain than is often assumed by
                                        policymakers.</p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Conrad Duncan
                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        Imperial College London
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.imperial.ac.uk/news/232079/large-uncertainties-over-warming-outcomes-from/"
                                           target="_blank">"Large Uncertainties" over Warming Outcomes from Current
                                            Climate Policies
                                        </a>
                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Change</span>
                                        <span class="text-tag">Environment</span>
                                        <span class="text-tag">Sustainability</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_13">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_13">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_13" aria-expanded="true"
                                            aria-controls="collapse_13" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Global Warming: UN Projections May Be Too Optimistic, Study Finds
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_13" class="collapse "
                                 aria-labelledby="heading_13"
                                 data-parent="#accordion_13">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Despite the commitments made by the signatory countries of the Paris agreement,
                                        the authors of a study published in the journal "Nature Climate Change" estimate
                                        that the average temperature on Earth could increase from 2.2 ° C to 2.9 ° C by
                                        2100.</p>

                                    <p>
                                        <strong>Journal:</strong>
                                        Franceinfo
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.francetvinfo.fr/monde/environnement/cop26/climat-les-projections-de-rechauffement-de-l-onu-sont-peut-etre-trop-optimistes-selon-une-etude-parue-dans-la-revue-nature-climate-change_4854885.html"
                                           target="_blank"> Global Warming: UN Projections May Be Too Optimistic, Study
                                            Finds (in French)
                                        </a>

                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_14">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_14">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_14" aria-expanded="true"
                                            aria-controls="collapse_14" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Study Casts Doubt on Climate Emissions Pledge Estimates
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_14" class="collapse "
                                 aria-labelledby="heading_14"
                                 data-parent="#accordion_14">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        A new analysis casts doubt on whether scientists can precisely estimate how much
                                        nations' combined emissions-cutting pledges will stem global warming, instead
                                        showing a wide range of potential outcomes.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Andrew Freedman
                                    </p>
                                    <p>
                                        <strong>Journal:</strong>
                                        AXIOS
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.axios.com/warming-carbon-emissions-pledges-3ef8dd6d-5678-494a-b642-5790ae9b7139.html"
                                           target="_blank"> Study Casts Doubt on Climate Emissions Pledge Estimates
                                        </a>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_15">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_15">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_15" aria-expanded="true"
                                            aria-controls="collapse_15" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        The Εarth Could Warm up by 2.9 Degrees by 2100
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_15" class="collapse "
                                 aria-labelledby="heading_15"
                                 data-parent="#accordion_15">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Researchers have calculated the most likely course of greenhouse gas emissions
                                        by the end of the century, based on today's climate policy. A temperature rise
                                        of less than two degrees is almost impossible.
                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        SPIEGEL
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.spiegel.de/wissenschaft/mensch/modellierung-zum-emissionsausstoss-die-erde-koennte-sich-bis-2100-um-2-9-grad-erwaermen-a-b5641779-f1f7-4c2f-84d4-5aebc2cb203b"
                                           target="_blank"> The Εarth Could Warm up by 2.9 Degrees by 2100 (in German)
                                        </a>

                                    </p>
                                    <p>
                                        <strong>Tags:</strong>
                                        <span class="text-tag">Climate Crisis</span>
                                        <span class="text-tag">Carbon Dioxide</span>
                                        <span class="text-tag">Global Warming</span>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_16">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_16">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_16" aria-expanded="true"
                                            aria-controls="collapse_16" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        After COP26, New Research Warns Climate Forecasts Could Be Way Off Target
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_16" class="collapse "
                                 aria-labelledby="heading_16"
                                 data-parent="#accordion_16">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Confident claims that promises made by world leaders will drastically reign in
                                        global warming could be wildly off the mark, according to a major new
                                        international study.
                                    </p>

                                    <p>
                                        <strong>Authors:</strong>
                                        David Vetter
                                    </p>

                                    <p>
                                        <strong>Journal:</strong>
                                        Forbes
                                    </p>

                                    <p>
                                        <strong>Links:</strong>
                                        <a href="https://www.forbes.com/sites/davidrvetter/2021/11/23/after-cop26-new-research-warns-climate-forecasts-could-be-way-off-target/"
                                           target="_blank"> After COP26, New Research Warns Climate Forecasts Could Be Way Off Target
                                        </a>

                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-yellow").hide();
    </script>
{% endblock %}