{% extends 'visualiser/main_visualiser_am4.html' %}
{% block content %}
    <div id="chartdiv"></div>
    <script>
        am4core.ready(function () {

// Themes begin
            am4core.useTheme(am4themes_animated);
// Themes end

            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.paddingRight = 30;
            chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";

            //Load data and fix colors

            chart.data = {{ chart_data|safe }};
            var color_list = {{ color_list|safe }};
            var use_default_colors = {{ use_default_colors }};
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
            var colorSet = new am4core.ColorSet();
            colorSet.saturation = 0.6;
            var color_counter = 0;
            var brightness_counter = 0;
            var previous_el = "";
            for (var i = 0; i < chart.data.length; i++) {
                if ((previous_el !== "") && (previous_el !== chart.data[i]['name'])) {
                    brightness_counter = 0;
                    color_counter = color_counter + 1;
                }
                if (use_default_colors=== true) {
                    chart.data[i]["color"] = colorSet.getIndex(color_counter).lighten(brightness_counter);
                }else{
                    chart.data[i]["color"] = am4core.color(color_list[color_counter]).lighten(brightness_counter);
                }
                brightness_counter = brightness_counter + 0.1;
                previous_el = chart.data[i]['name'];

            }
            var x_axis_title = "{{x_axis_title}}";
            var x_axis_name = "{{ x_axis_name }}";
            var x_axis_unit = "{{ x_axis_unit }}";
            var x_axis_type = "{{ x_axis_type }}";
            var y_var_names = {{ y_var_names|safe}};
            var y_var_titles = {{ y_var_titles|safe}};
            var y_var_units = {{ y_var_units|safe }};
            var y_axis_title = "{{ y_axis_title }}";
            var xAxis;

            //Create Axes
            //yAxis is category Axis in this case
            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = y_var_names[0];
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.inversed = true;
            categoryAxis.title.text = y_axis_title + "("+y_var_units+")";
            categoryAxis.title.fontWeight = 600;
            // xAxis
            if (x_axis_type === "time") {
<!--            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());-->
            xAxis = chart.xAxes.push(new am4charts.DateAxis());
<!--            dateAxis.dateFormatter.dateFormat = "yyyy-MM-dd HH:mm";-->
            xAxis.dateFormatter.dateFormat = "yyyy-MM-dd HH:mm";
<!--            dateAxis.renderer.minGridDistance = 70;-->
            xAxis.renderer.minGridDistance = 70;
<!--            dateAxis.baseInterval = {count: 30, timeUnit: "minute"};-->
            xAxis.baseInterval = {count: 30, timeUnit: "minute"};
<!--            dateAxis.max = new Date(2018, 0, 1, 24, 0, 0, 0).getTime(); -->
            xAxis.max = new Date(2018, 0, 1, 24, 0, 0, 0).getTime();
<!--            dateAxis.strictMinMax = true;-->
            xAxis.strictMinMax = true;
<!--            dateAxis.renderer.tooltipLocation = 0;-->
            xAxis.renderer.tooltipLocation = 0;
<!--            dateAxis.title.text = x_axis_title;-->
<!--            xAxis.title.text = x_axis_title;-->
<!--            dateAxis.title.fontWeight = 600;-->
<!--            xAxis.title.fontWeight = 600;-->
            }
            else {
                xAxis = chart.xAxes.push(new am4charts.ValueAxis());
           }
           // Set x-axis title
            xAxis.title.text = x_axis_title +"(" + x_axis_unit +")";
            xAxis.title.fontWeight = 600;
            var series1 = chart.series.push(new am4charts.ColumnSeries());
            series1.columns.template.height = am4core.percent(60);
            series1.columns.template.column.cornerRadiusTopLeft = 10;
            series1.columns.template.column.cornerRadiusTopRight = 10;
            series1.columns.template.column.cornerRadiusBottomLeft = 10;
            series1.columns.template.column.cornerRadiusBottomRight = 10;
<!--            series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";
            series1.tooltip.pointerOrientation = "vertical";
            series1.tooltip.background.cornerRadius = 20;
            series1.tooltip.background.fillOpacity = 0.8;
            series1.tooltip.label.padding(12, 12, 12, 12);
             if (x_axis_type === "time") {
                series1.columns.template.tooltipText = "{" + y_var_names[0] +  "}: {openDateX} - {dateX}";
                series1.dataFields.openDateX = "fromDate";
                series1.dataFields.dateX = "toDate";
            }else{
                series1.columns.template.tooltipText = "{" + y_var_names[0] +  "}: {openValueX} - {valueX}";
                series1.dataFields.openValueX = "from";
                series1.dataFields.valueX = "to";
             }
            series1.dataFields.categoryY = y_var_names[0];
            series1.columns.template.propertyFields.fill = "color"; // get color from data
            series1.columns.template.propertyFields.stroke = "color";
            series1.columns.template.strokeOpacity = 1;
            series1.columns.template.fillOpacity = 0.9;

            chart.scrollbarX = new am4core.Scrollbar();

            // Add scrollbar
            {#chart.scrollbarX = new am4charts.XYChartScrollbar();#}
            {#chart.scrollbarX.series.push(series1);#}


            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.xAxis = xAxis;

        }); // end am4core.ready()
    </script>

{% endblock %}

