{% extends 'visualiser/main_visualiser_am4.html' %}
{% block content %}
    <div id="chartdiv"></div>
    <!--https://www.amcharts.com/demos/us-heat-map/-->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create map instance
            var chart = am4core.create("chartdiv", am4maps.MapChart);
            chart.exporting.menu = new am4core.ExportMenu();
           {% comment %} chart.responsive = {
                "enabled": true
            };{% endcomment %}
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
            var projection = "{{ projection }}";
            var map_data = {{ map_data|safe }};
            var color_list = {{ color_list|safe }};
            var minmax_y_value = {{ minmax_y_value|safe }};
            var map_var_name = "{{ map_var_name }}";
            var map_var_title = "{{ map_var_title }}";
            var var_unit = "{{ map_var_unit }}";

            // Set map definition
            <!--chart.geodata = am4geodata_usaLow;-->
            chart.geodata = am4geodata_worldHigh;

            chart.tapToActivate = true;
            chart.paddingBottom = 60;


            // Set projection
            if (projection === "eckert6") {
                chart.projection = new am4maps.projections.Eckert6();
            } else if (projection === "equirectangular") {
                chart.projection = new am4maps.projections.Projection();
            } else if (projection === "naturalearth") {
                chart.projection = new am4maps.projections.NaturalEarth1();
            } else if (projection === "miller") {
                chart.projection = new am4maps.projections.Miller();
            } else if (projection === "orthographic") {
                chart.projection = new am4maps.projections.Orthographic();
            } else {
                chart.projection = new am4maps.projections.Mercator();
            }

            if (projection === "orthographic"){
                chart.panBehavior = "rotateLongLat";
            } else{
                chart.panBehavior = "move";
            }
            chart.paddingTop= 10;
            chart.homeGeoPoint = {longitude: 0, latitude: 3};
            chart.homeZoomLevel = 1;

            chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");
            chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 1;



            // Create map polygon series
            var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
            polygonSeries.mapPolygons.template.fill = am4core.color("#ffffff");
            polygonSeries.mapPolygons.template.stroke = am4core.color("#e3e3e3");
            //Set min/max fill color for each area and Heat-map legend
            polygonSeries.heatRules.push({
                "target": polygonSeries.mapPolygons.template,
                "property": "fill",
                "min": am4core.color(color_list[0]),
                "max": am4core.color(color_list[1]),
            });


            // Set heatmap values for each state
            polygonSeries.data = map_data;

            // Make map load polygon data (state shapes and names) from GeoJSON
            polygonSeries.useGeodata = true;

            /* Create a heat legend */
            var heatLegend = chart.createChild(am4charts.HeatLegend);
            heatLegend.width = am4core.percent(60);
            heatLegend.minColor = am4core.color(color_list[0]);
            heatLegend.maxColor = am4core.color(color_list[1]);
            heatLegend.minValue = minmax_y_value[0];
            heatLegend.maxValue = minmax_y_value[1];
            {#heatLegend.valign = "bottom";#}
            {#heatLegend.position = "right";#}
            heatLegend.align = "center";
            heatLegend.dy= 50;
            heatLegend.valign = "bottom";
            heatLegend.series = polygonSeries;
            heatLegend.valueAxis.renderer.labels.template.fontSize = 9;
            heatLegend.valueAxis.renderer.minGridDistance = 30;

{#// heat legend behavior#}
{#            polygonSeries.columns.template.events.on("over", function (event) {#}
{#                handleHover(event.target);#}
{#            })#}
{##}
{#            polygonSeries.columns.template.events.on("hit", function (event) {#}
{#                handleHover(event.target);#}
{#            })#}
{##}
{#            function handleHover(column) {#}
{#                if (!isNaN(column.dataItem.value)) {#}
{#                    heatLegend.valueAxis.showTooltipAt(column.dataItem.value)#}
{#                } else {#}
{#                    heatLegend.valueAxis.hideTooltip();#}
{#                }#}
{#            }#}
{##}
{#            polygonSeries.columns.template.events.on("out", function (event) {#}
{#                heatLegend.valueAxis.hideTooltip();#}
{#            });#}

            {#heatLegend.orientation = "vertical";#}


            var title = chart.titles.create();
            title.text = map_var_title + " (" + var_unit + ")";

            title.fontSize = 19;
            title.fontWeight = 600;
            {#title.marginTop = 50;#}
            title.align = "center";
            title.valign = "bottom";
            {#title.marginBottom = 20;#}

            // Configure series tooltip
            var polygonTemplate = polygonSeries.mapPolygons.template;
            polygonTemplate.tooltipText = "- {name} - {value} " + var_unit + "";

            polygonTemplate.nonScalingStroke = true;
            polygonTemplate.strokeWidth = 0.5;

            // Create hover state and set alternative fill color
            var hs = polygonTemplate.states.create("hover");

            //Tooltip info
            {#polygonTemplate.columns.template.tooltipText = y_axis_title + "- {categoryX}- " + y_var_titles[0] + " : [bold]{valueY}[/]";#}
            polygonSeries.tooltip.getFillFromObject = true;
            polygonTemplate.tooltip.autoTextColor = false;
            polygonTemplate.tooltip.label.fill = am4core.color("#FFFFFF");

        });
    </script>
{% endblock %}