{% load static %}
<div class="col-sm-12 col-xs-12">
    <h1 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        Methods
    </h1>
</div>
<span id="methods" style="position: relative; top:-7em"></span>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <strong>Description of Index decomposition analysis (IDA):</strong>
    <p class="col-xs-12 col-sm-12 col-md-12">
        <ul>
            <li>A changing variable such as sectoral CO2 emissions over a time period (2020-2050) is decomposed into its factors of influence such as the sectoral activity, its energy efficiency, and its CO2 intensity</li>
            <li>Identification of key driving forces and levers of emission changes over time</li>
            <li>Results of the updated first and second modelling rounds, consisting of the "Where we are headed" (WWH) and Net Zero Emissions (NZE) scenarios for the EU28</li>
            <li>The IDA allows identifying the chosen emission reduction levers for different scenarios within one model as well as between models.</li>
            <li>IDA aims to improve the link between climate science and policy by increasing the transparency on the range of contributions from CO2 reduction levers</li>
        </ul>
    </p>
    <strong>Description of sector benchmarking indicators:</strong>
    <p class="col-xs-12 col-sm-12 col-md-12">
        <ul>
            <li>Comparison of the results of different energy-system and integrated assessment models available in the project with the sector models, FORECAST and ALADIN</li>
            <li>Based on selected indicators such as electrification rate and CO2 intensity.</li>
            <li>WWH and NZE scenarios</li>
            <li>ALADIN and FORECAST used as a benchmark to assess the ranges of several indicator results of the EU models over time.</li>
        </ul>
    </p>
</div>