{% load static %}
<div class="col-sm-12 col-xs-12">
    <h1 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        Introduction
    </h1>
</div>
<span id="methods" style="position: relative; top:-7em"></span>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <p class="col-xs-12 col-sm-12 col-md-12"><strong>Context</strong></p>
    <p class="col-xs-12 col-sm-12 col-md-12">To meet the Paris temperature targets and recover from the effects of the pandemic, many countries have launched economic recovery plans, including specific elements to promote clean energy technologies and green jobs. However, how to successfully manage investment portfolios of green recovery packages to optimize both climate mitigation and employment benefits remains unclear.</p>

    <p class="col-xs-12 col-sm-12 col-md-12"><strong>Methodology</strong></p>
    <p class="col-xs-12 col-sm-12 col-md-12">We used three energy-economic models, combined with a portfolio analysis approach, to find optimal low-carbon technology subsidy combinations in six major emitting regions: Canada, China, the European Union (EU), India, Japan, and the United States (US). Specifically we:</p>
    <p class="col-xs-12 col-sm-12 col-md-12">
        <ul>
            <li>applied increasing subsidy rates individually for nine clean technologies on top of region specific (pre-pandemic) energy and climate policies;</li>
            <li>measured the marginal effectiveness in reducing emissions and increasing employment using three IAMs that differ significantly in their solution mechanisms and temporal dynamics (GCAM, GEMINI-E3, TIAM);</li>
            <li>used a robust portfolio analysis for each region-model combination to find a Pareto-optimal set (i.e., a set of points where no improvements are possible in one metric without affecting at least one other metric) of technology portfolios.</li>
        </ul>
    </p>

    <p class="col-xs-12 col-sm-12 col-md-12">The obtained Pareto frontiers are then used to identify trade-offs between the cumulative amount of CO2 emissions abated, the number of job-years created over this entire decade (2021–2030), and the number of short-term job-years created up to 2025.</p>

    <p class="col-xs-12 col-sm-12 col-md-12">The figure below provides a schematic overview of how technology support may affect emissions and employment.</p>

    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center; margin-top: 3em; min-height: 45em">
        <img class="methods-image methods-image-1 opaque" style="width: 100%"
             src="{% static 'images/COVID_tech_impacts.jpg' %}"
             alt="Technology support impacts on emissions and employment">
    </div>
</div>
