{% load static %}
<div class="col-sm-12 col-xs-12">
    <h3 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30;">
        What is the reduction of CO2 emissions from energy and industrial processes in different EU pathways to net zero?
    </h3>
</div>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <p class="col-md-12 col-xs-12">
        Among all examined sectors, the energy-supply sector shows the strongest emissions reductions between 2020 and 2030, reaching a 40% emissions reduction on average for all different models (median value; interquartile range: 22% – 61%). Additionally, all models agree that the power sector should be fully decarbonised in order to achieve net-zero emissions in 2050. Modelling results converge less for other sectors, emphasising different priorities and policy options. However, all modelled pathways indicate that an economy-wide reduction of fossil fuels is needed to achieve the net-zero targets of the EU.
    </p>

    <p class="col-md-12 col-xs-12">
        You can explore below the results in more detail for each different sector and scenario. 
    </p>

    <div class="col-md-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1em; text-align: center">Please select a sector and a scenario to view the results.</div>
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="form-group col-md-6 col-sm-8 col-xs-10" style="margin-bottom: 2em;">
                <div class="">
                    <select class="desc_text take_up_space sector_select" placeholder="Select a sector" id="sector_select" style="width: 100%;display:inline">
                    <option value="Emissions|CO2|Energy|Supply">Energy Supply</option>
                    <option value="Emissions|CO2|Industrial Processes">Industry & Processes</option>
                    <option value="Emissions|CO2|Energy|Demand|Residential and Commercial">Buildings</option>
                    <option value="Emissions|CO2|Energy|Demand|Transportation">Transport</option>
                    <option value="Emissions|CO2|Energy|Demand|AFOFI">AFOFI & Others</option>
                    </select>
                    <select class="desc_text take_up_space scenario_select" placeholder="Select a scenario" id="scenario_select" style="width: 100%;display:inline">

                    <option value="NZE_Bench_H">NZE_Bench_H</option>
                    <option value="NZE_Bench_L">NZE_Bench_L</option>
                    <option value="NZE_Bench_M">NZE_Bench_M</option>
                    <option value="NZE_EUPol_Stand">NZE_EUPol_Stand</option>
                    <option value="WWH21">WWH21</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12" style="height: 40em">
            <div style="height: 100%;">
                <div id="total_co2_emissions" class="row"
                     style="height: 100%; line-height: 100%;">
                    <iframe id="total_co2_emissions_viz_iframe" src="" title="Results"
                            style="width: 100%; height: 100%;  border:none ; display: none"></iframe>
                    <div id="total_co2_emissions_loading_bar"
                         style=" height:100%;vertical-align: middle; text-align: center; position: relative; top:30%;margin-top:-6em;">
                        <img class="row" style="height: 13em; width: 13em; margin-bottom: 2em"
                             src="{% static "gifs/loading-dots.gif" %}" alt="Loading...">
                        <div class="row" style="font-size: 0.9em ; margin-left: 2em; margin-right: 2em;">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">The chart will present the total CO2 emissions from energy in
                                the EU across models until 2050.

                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="heading" style="font-size: 1.5em; margin:3em">Loading...</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12" style="font-style: italic; font-size: 0.9em; margin-top: 1em">
            <ul>
                <li>NZE_Bench_H: Net-Zero Emissions Benchmark scenario with high contribution of non-CO2 and/or LULUCF emissions to mitigation</li>
                <li>NZE_Bench_M: Net-Zero Emissions Benchmark scenario with medium contribution of non-CO2 and/or LULUCF emissions to mitigation</li>
                <li>NZE_Bench_L: Net-Zero Emissions Benchmark scenario with low contribution of non-CO2 and/or LULUCF emissions to mitigation</li>
                <li>NZE_EUPol_Stand: The NZE EU Policy Standard scenario, in addition, implements the EU-level policy instruments as proposed in the 'Fit for 55' policy package regarding burden sharing between the EU-ETS and ESR sectors</li>
                <li>WWH21: Reference scenario</li>
            </ul>
        </div>



    </div>
</div>