{% load static %}
<div class="col-sm-12 col-xs-12">
    <h1 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        Introduction
    </h1>
</div>
<span id="methods" style="position: relative; top:-7em"></span>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <p class="col-xs-12 col-sm-12 col-md-12">The European Union (EU) has recently adopted the “Fit for 55” policy package that aims to achieve 55% emissions cuts in 2030, compared with 1990. In response to this policy, this multi-model study uses five whole-system climate-economy models and two sectoral models to explore how the EU can keep the net-zero target within reach by mid-century, offering insights into intermediate milestones and implications at sectoral and national levels. Specifically, the study evaluates four EU pathways that conform to the “Fit for 55” targets in 2030 and achieve net-zero emissions in 2050, with different levels of contribution from non-CO2 and/or LULUCF emissions to mitigation. </p>


    <p class="col-xs-12 col-sm-12 col-md-12">The study uses an ensemble of five climate-economy models from different modelling paradigms and theories, including partial equilibrium models (GCAM, EU-TIMES), CGE models (GEMINI-E3, ICES-XPS), and a macroeconometric model (NEMESIS). Additionally, the study used two sectoral models that can represent the transport sector (ALADIN) as well as the buildings and industry sector (FORECAST) to explore more sectoral impacts.</p>

    <p class="col-xs-12 col-sm-12 col-md-12">The results of the study emphasise that the EU should phase out unabated coal power plants and fully decarbonise its power sector by 2040 in order to achieve its climate policy goals. However, the diverse modelling ensemble led to a variety of policy and technology pathways for other technologies or sectors. For instance, some models emphasised ramping up the deployment of renewable sources while others suggested to retain and even grow nuclear power in Europe. See the figure below for more of these trade-offs.</p>

    <p class="col-xs-12 col-sm-12 col-md-12">More details about the study and the modelling process can be found in the open-access publication from <a href="https://doi.org/10.1016/j.joule.2023.11.002">Boitier et al. (2023)</a>.</p>


    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center; margin-top: 3em; min-height: 45em">
        <img class="methods-image methods-image-1 opaque" style="width: 100%"
             src="{% static 'images/fitfor55_2023_highlights.jpg' %}"
             alt="Result hightlights">
    </div>
</div>
