{% extends 'i2amparis_main/fitfor55_workspace/fitfor55_virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style="text-align: center; margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-green" style="text-align: center">
                        <a href="" class="">Conferences</a>
                        <i class="fa fa-users mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/fitfor55_workspace/fitfor55_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em;">
                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Investigating optimal allocation of green recovery funds in the EU. 2021 EU Conference on modelling for policy support: collaborating across disciplines to tackle key policy challenges, November 22-26, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Investigating optimal allocation of green recovery funds in the EU. 2021 EU Conference on modelling for policy support: collaborating across disciplines to tackle key policy challenges
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        November 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The pandemic had dramatic economic consequences in the EU: despite significant public interventions, more than 1.8 million jobs were lost between September 2019 and September 2020. As fiscal stimulus measures have been and continue to be announced, policymakers can ensure that the short-term stimulus points the economic recovery in a sustainable direction in the long term; in doing so, they must consider the trade-off between these goals.
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Van de Ven, D.J., Forouli, A., Koasidis, K., Mittal, S., Giarola, S., Gambhir, A., Koberle, A.C., Chiodi, A., Cassetti, G., Gargiulo, M., Perdana, S.P., Vielle, M., Koutsellis, T., & Doukas, H. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Allocating global COVID-19 recovery packages over low-carbon technologies to optimise between emission reductions and employment gains. Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC), November 29 - December 3, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Allocating global COVID-19 recovery packages over low-carbon technologies to optimise between emission reductions and employment gains.
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        December 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Presented by Konstantinos Koasidis (NTUA) at the Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC)
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Van de Ven, D.J., Forouli, A., Koasidis, K., Mittal, S., Giarola, S., Gambhir, A., Koberle, A.C., Chiodi, A., Cassetti, G., Gargiulo, M., Perdana, S.P., Vielle, M., Koutsellis, T., & Doukas, H. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Multi-Objective Evaluation of Renewable Technology Subsidy Portfolios from COVID-19 Recovery Packages. Energy, COVID, and Climate Change, 1st IAEE Online Conference, June 7-9, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Multi-Objective Evaluation of Renewable Technology Subsidy Portfolios from COVID-19 Recovery Packages
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        June 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        To support the green transition, national recovery and resilience plans should allocate at least 37% of investments towards battling climate change and be aligned with the updated target of the European Green Deal of 55 emissions reduction by 2030. This study aims to optimise the impact of the proposed fiscal program and the budget allocated towards the “green” transition in terms of jobs created in the energy sector and further reduction of GHG emissions.

                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Forouli, A., van de Ven, D. J., Koasidis, K., Nikas, A., Gambhir, A., Koutsellis, T., Karamaneas, A., & Doukas, H.  
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_4">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="true"
                                            aria-controls="collapse_4" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Allocation of European green COVID-19 recovery packages to mitigation emissions and create jobs in crisis years. XVI Conference of the Spanish Association for Energy Economics, June 29-30, 2021, Online. 
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_4" class="collapse "
                                 aria-labelledby="heading_4"
                                 data-parent="#accordion_4">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Allocation of European green COVID-19 recovery packages to mitigation emissions and create jobs in crisis years
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        June 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        To support member states’ economic recovery from the effects of COVID-19, the EU has mobilised financial resources as part of the long-term budget of 2021-2027 (European Commission, 2020a). Among the proposed recovery efforts, the EU launched the Recovery and Resilience Facility (RRF) to provide €672.5 billion of financial support to Member States in the coming years (European Commission, 2020b).

                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Van de Ven, D., Forouli, A., Koasidis, K., Gambhir, G., Koutsellis, T., Doukas, H., Nikas, A.  
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_5">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="true"
                                            aria-controls="collapse_5" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Identifying optimal COVID-19 recovery packages:  a robust IAM-portfolio analysis of renewable energy technological subsidisation. 31st European Conference on Operational Research, July 11-14, 2021, Athens, Greece. 
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_5" class="collapse "
                                 aria-labelledby="heading_5"
                                 data-parent="#accordion_5">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Identifying optimal COVID-19 recovery packages:  a robust IAM-portfolio analysis of renewable energy technological subsidisation
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        July 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        The pandemic has had significant impacts on the European economy, with approximately 1.8 million EU citizens losing their jobs between September 2019 and September 2020. Towards facilitating a swift and sustainable recovery, the EU launched the Recovery and Resilience Facility (RRF) to provide €672.5 billion of financial support to Member States in the coming years. In line with the European Green Deal and climate efforts, 37% of investments in national plans requesting RRF financing must focus on a “green” transition.


                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Van de Ven, D.J., Forouli, A., Koasidis, K., Mittal, S., Giarola, S., Gambhir, A., Koberle, A.C., Chiodi, A., Cassetti, G., Gargiulo, M., Perdana, S.P., Vielle, M., Koutsellis, T., & Doukas, H. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_6">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_6" aria-expanded="true"
                                            aria-controls="collapse_6" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Co-creating a model inter-comparison exercise with stakeholders in the EU. Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC), November 29 - December 3, 2021, Online. 
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_6" class="collapse "
                                 aria-labelledby="heading_6"
                                 data-parent="#accordion_6">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Co-creating a model inter-comparison exercise with stakeholders in the EU
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        December 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Presented by Alexandros Nikas (NTUA) at the Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC)
                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Nikas, A., Elia, A., Boitier, B., Koasidis, K., Doukas, H., Cassetti, G., Anger-Kraavi, A., Bui, H., Campagnolo, L., De Miglio, R., Delpiazzo, E., Fougeyrollas, A., Gambhir, A., Gargiulo, M., Giarola, S., Grant, N., Hawkes, A., Herbst, A., Köberle, A.C., Kolpakov, A., Le Mouël, P., McWilliams, B., Mittal, S., Moreno, J., Neuner, F., Perdana, S., Peter, G.P., Plötz, P., Rogelj, J., Sognnæs, I., Van de Ven, D.J., Vielle, M., Zachmann, G., Zagamé, P., & Chiodi, A.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_7">
                        <div class="card" style="text-align: left">
                            <div class="card-header" id="heading_7">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_7" aria-expanded="true"
                                            aria-controls="collapse_7" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        Challenges in the harmonisation of global integrated assessment models: A comprehensive methodology to reduce model response heterogeneity. Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC), November 29 - December 3, 2021, Online.
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_7" class="collapse "
                                 aria-labelledby="heading_7"
                                 data-parent="#accordion_7">
                                <div class="card-body">
                                    <p>
                                        <strong>Title:</strong>
                                        Challenges in the harmonisation of global integrated assessment models: A comprehensive methodology to reduce model response heterogeneity
                                    </p>
                                    <p>
                                        <strong>Date:</strong>
                                        December 2021
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        Presented by Sara Giarola (Imperial College - Grantham Institute) at the Fourteenth Annual Meeting of the Integrated Assessment Modeling Consortium (IAMC)

                                    </p>
                                    <p>
                                        <strong>Authors:</strong>
                                        Giarola, S., Mittal, S., Vielle, M., Perdana, S.P., Campagnolo, L., Delpiazzo, E., Bui, H., Anger-Kraavi, A., Kolpakov, A., Sognnaes, I., Peters, G.P., Hawkes, A., Koberle, A.C., Grant, N., Gambhir, A., Nikas, A., Doukas, H., Moreno, J., & Van de Ven, D.J.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-green").hide();
    </script>
{% endblock %}