{% load static %}
<div class="col-sm-12 col-xs-12">
    <h1 style="display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
        Introduction
    </h1>
</div>
<span id="methods" style="position: relative; top:-7em"></span>
<div class="col-md-12 col-xs-12" style="margin-bottom:3em">
    <p class="col-xs-12 col-sm-12 col-md-12">This study evaluates the 2030 emissions reductions targets and the net-zero pledges announced during COP26 in Glasgow, in terms of impacts on global warming and feasibility concerns. The evaluation is performed by an ensemble of four integrated assessment models (IAMs), assessing the CO2 emission trajectories that result from the targets of existing policies and the pledges of COP26. Subsequently a non-CO2 infilling model and a simple climate model is used to assess the temperature implications. Additionally, all pathways are evaluated in terms of their socioeconomic, technological, and physical feasibility, examining indicators such as carbon pricing burden, technology scale-up, and geological carbon storage.</p>


    <p class="col-xs-12 col-sm-12 col-md-12">Three scenarios are modelled. The first assumes that the targets set in current policies are followed until 2030 and are then extrapolated with the same emission intensity until 2050. The second assumes that Nationally Determined Contributions (NDCs) are followed until 2030 and then extrapolated similarly to the first. The third scenario also assumes that NDCs are followed until 2030 but then follow the long-term targets that have been pledged by the countries between 2050 and 2070. An overview of the study design can be found in the figure below.</p>

    <p class="col-xs-12 col-sm-12 col-md-12">The study’s modelling ensemble comprises four models using diverse modelling paradigms, including GCAM (partial equilibrium model), GEMINI-E3 (general equilibrium model), MUSE (agent-based energy system model), and TIAM-Grantham (partial equilibrium model). This model diversity results to a plurality of different pathways which are then analysed to find potential boundaries in the results as well as different feasibility impacts. The main characteristics about the models are compared in the figure below.</p>

    <p class="col-xs-12 col-sm-12 col-md-12">The next pages in this workspace show pertinent research/policy questions that are answered through the study results. More details about the study and the modelling process can be found in the open-access publication from <a href="https://doi.org/10.1038/s41558-023-01661-0">van de Ven et al. (2023) </a>.</p>


    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center; margin-top: 3em; min-height: 45em">
        <img class="methods-image methods-image-1 opaque" style="width: 100%"
             src="{% static 'images/feasibility_study_setup.png' %}"
             alt="Result hightlights">
    </div>

</div>
