{% extends 'i2amparis_main/feasibility_workspace/feasibility_virtual_library_section.html' %}

{% block content %}
    <div id="intro_virtual" style="margin-top: 6em;min-height: 100%">
        <div class="container" style="width: 90%; height: 100%; padding-bottom: 3em">
            <div class=" col-sm-12 col-xs-12" style="text-align: center">
                <h1 style="text-align:center;display: inline-block;background:transparent; box-shadow: none; font-weight: bold; color: #828f30; ">
                    Virtual Library
                </h1>
            </div>
            <div class="content-section col-sm-12 col-xs-12 col-md-12"
                 style=" margin-top: 2em;padding: 1em">
                <div class="col-sm-12 col-xs-12">
                    <div class="circle-button tb-blue" style="text-align: center">
                        <a href="" class="">Deliverables</a>
                        <i class="fa fa-file mini-title-icon"></i>
                    </div>
                </div>
                {% include "i2amparis_main/feasibility_workspace/feasibility_virtual_library_side_menu.html" %}
                <div class="main-content col-md-9 col-xs-12 col-sm-9" style="margin-top: 3em">

                    <div class="accordion col-sm-12 col-xs-12" id="accordion_1">
                        <div class="card">
                            <div class="card-header" id="heading_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1" aria-expanded="true"
                                            aria-controls="collapse_1" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.1 Documentation of Global IAMs
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_1" class="collapse "
                                 aria-labelledby="heading_1"
                                 data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        September 2019
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This document presents the eight modelling tools to be used in WP7 of the PARIS REINFORCE research project. Its aim is to provide a good overview of each of the documented models for a large variety of stakeholders of climate policymaking at the global level.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="https://paris-reinforce.eu/sites/default/files/2021-07/D7.1%20Documentation%20of%20Global%20IAMs-v1.10R_SUBMITTED.pdf" target="_blank">D7.1 Documentation of Global IAMs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">


                    <div class="accordion col-sm-12 col-xs-12" id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="heading_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_2" aria-expanded="true"
                                            aria-controls="collapse_2" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.2 Interlinkages of global IAMs with the I2AM PARIS platform
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_2" class="collapse "
                                 aria-labelledby="heading_2"
                                 data-parent="#accordion_2">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        May 2020
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        WP7 focuses on global stocktaking of climate efforts, and six global models will be used for a series of extensive model inter-comparisons. The purpose of the first round of global modelling is to provide a global context of where we are heading with current policies and where we are supposed to be heading to comply with the Paris goals for temperature change. Therefore, the global models will be run in a coordinated way, providing the best scientific basis for a model inter-comparison exercise.
                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="https://paris-reinforce.eu/sites/default/files/2021-07/D7.2%20Interlinkages%20of%20global%20IAMs%20with%20the%20I2AM%20PARIS%20platform_v1.10R_UPDATED.pdf" target="_blank">D7.2 Interlinkages of global IAMs with the I2AM PARIS platform</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">




                    <div class="accordion col-sm-12 col-xs-12" id="accordion_3">
                        <div class="card">
                            <div class="card-header" id="heading_3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_3" aria-expanded="true"
                                            aria-controls="collapse_3" style="padding:0px">
                                        <i class="fa fa-caret-right rotate" style="margin-right: 10px;"></i>
                                        D7.6 Report on the reference and policy scenario modelling results
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_3" class="collapse "
                                 aria-labelledby="heading_3"
                                 data-parent="#accordion_3">
                                <div class="card-body">
                                    <p>
                                        <strong>Date:</strong>
                                        December 2022
                                    </p>
                                    <p>
                                        <strong>Short description:</strong>
                                        This deliverable outlines the methods, logic, and structure behind the global mitigation scenarios performed in PARIS REINFORCE, and also graphically outlines summarised results from these scenarios. The results show the gap between current climate change mitigation ambitions and Paris-compliant targets, and how a diverse set of models attempt to fill this gap through energy system transformations.

                                    </p>
                                    <p>
                                        <strong>Download Link:</strong>
                                        <a href="https://paris-reinforce.eu/sites/default/files/2022-12/D7.6%20-%20Report%20on%20the%20reference%20and%20policy%20scenario%20modelling%20results_v1.00_SUBMITTED.pdf" target="_blank">D7.6 Report on the reference and policy scenario modelling results</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-md-12 col-xs-12 col-sm-12">

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(".lib-menu-nav .tb-blue").hide();
    </script>
{% endblock %}

