<div>
    <span style="font-weight: bold">Baseline: </span><span>Current policies implemented until 2030 and extending the
    equivalent carbon price in each region, growing at the rate of GDP per capita from 2030 onwards</span>
</div>
<div>
    <span style="font-weight: bold">CP_EI: </span><span>Current policies implemented until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
</div>
<div>
    <span style="font-weight: bold">NDC_EI: </span><span>Unconditional Nationally Determined Contributions implemented on top of current policies until 2030 and keeping emissions intensity of GDP reduction rate same as 2020-2030 period after 2030</span>
</div>